<ion-header>
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
  <ion-toolbar>
    <ion-segment style="background-color: #ef4b52">
      <ion-back-button
        style="color: #ffffff"
        defaultHref="/transaction-selectaddress"
      ></ion-back-button>
      <ion-segment-button value="0">
        <ion-label
          style="
            font-family: 'Source Sans Pro', sans-serif;
            font-size: 16px;
            font-weight: 600;
            color: #ffffff;
          "
          >Set Your Location</ion-label
        >
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div
    id="FormDetail"
    style="
      display: none;
      position: absolute;
      z-index: 5;
      flex-direction: column;
      width: 80%;
      background-color: #ffffff;
      border: f3f3f3 2px solid;
      border-radius: 15px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 6px 8px 0 rgba(0, 0, 0, 0.19);
    "
    class="ion-padding"
  >
    <div style="text-align: left">
      <ion-icon
        (click)="defaultForm()"
        style="color: rgb(158, 158, 158); font-size: small"
        name="close"
      ></ion-icon>
    </div>

    <div style="display: flex; flex-direction: column" class="ion-padding">
      <div>
        <span
          style="
            font-family: 'Source Sans Pro', sans-serif;
            font-size: 14px;
            font-weight: 600;
            color: #000000;
            margin-left: 10px;
          "
          >Your address</span
        >
      </div>

      <div
        style="
          margin-top: 10px;
          background-color: rgb(248, 248, 248);
          border-radius: 15px;
          padding: 10px 10px 10px 10px;
        "
      >
        <div style="display: flex; flex-direction: row">
          <div
            style="
              display: flex;
              justify-content: center;
              align-items: center;
              width: 20%;
            "
          >
            <ion-img
              style="max-width: 20px"
              src="../../assets/images/setaddress-2.png"
            ></ion-img>
          </div>
          <div style="width: 5%">:</div>
          <div style="width: 75%">{{ storageGetAddressArgo }}</div>
        </div>
        <div style="display: flex; flex-direction: row">
          <div
            style="
              display: flex;
              justify-content: center;
              align-items: center;
              width: 20%;
            "
          >
            <ion-img
              style="max-width: 20px"
              src="../../assets/images/setaddress-1.png"
            ></ion-img>
          </div>
          <div
            style="
              display: flex;
              justify-content: center;
              align-items: center;
              width: 5%;
            "
          >
            :
          </div>
          <div
            style="
              width: 75%;
              display: flex;
              justify-content: center;
              align-items: center;
              text-align: justify;
            "
            class="ion-padding"
          >
            {{ reqAddressName }}
          </div>
        </div>
      </div>
    </div>

    <div style="text-align: left">
      <span
        style="
          font-family: 'Source Sans Pro', sans-serif;
          font-size: 14px;
          font-weight: 600;
          color: #000000;
          margin-left: 25px;
        "
        >Give a name for this address</span
      >
    </div>

    <div style="text-align: left; padding-left: 25px; padding-right: 25px">
      <ion-input
        name="addressName"
        [(ngModel)]="addressName"
        style="border-bottom: rgb(231, 231, 231) 2px solid"
        clear-input
        placeholder="example: Home / Office"
      ></ion-input>
    </div>

    <div style="text-align: left; margin-top: 10px">
      <span
        style="
          font-family: 'Source Sans Pro', sans-serif;
          font-size: 14px;
          font-weight: 600;
          color: #000000;
          margin-left: 25px;
        "
        >Phone number</span
      >
    </div>

    <div style="text-align: left; padding-left: 25px; padding-right: 25px">
      <ion-input
        name="addressPhone"
        [(ngModel)]="addressPhone"
        style="border-bottom: rgb(231, 231, 231) 2px solid"
        clear-input
        placeholder="089566556655"
      ></ion-input>
    </div>

    <div style="text-align: left; padding-left: 25px; padding-right: 25px">
      <button
        (click)="saveAddress()"
        routerDirection="forward"
        style="
          background-color: #ef4b52;
          width: 100%;
          height: 40px;
          color: white;
          border-radius: 10px;
          margin-top: 20px;
          font-family: 'Libre Baskerville', serif;
        "
      >
        Save
      </button>
    </div>
  </div>

  <div
    style="
      display: flex;
      flex-direction: row;
      width: 100%;
      justify-content: space-between;
    "
  >
    <ion-item style="width: 100%">
      <div style="width: 50%">
        <ion-button (click)="getGps()" fill="clear">
          <ion-icon style="color: #ef4b52" slot="start" name="map"></ion-icon>
          <span
            style="
              font-size: 14px;
              color: #ef4b52;
              font-family: 'Source Sans Pro', sans-serif;
            "
          >
            Get my position
          </span>
        </ion-button>
      </div>
      <div style="width: 50%; text-align: right">
        <ion-button (click)="enableForm()" fill="clear">
          <ion-icon
            style="color: #ef4b52"
            slot="start"
            name="clipboard"
          ></ion-icon>
          <span
            style="
              font-size: 14px;
              color: #ef4b52;
              font-family: 'Source Sans Pro', sans-serif;
            "
          >
            Show form
          </span>
        </ion-button>
      </div>
    </ion-item>
  </div>

  <ion-slides class="slides-wrapper" #slides style="z-index: 1; height: 110%">
    <ion-slide>
      <ion-searchbar
        id="SearchAlamat"
        debounce="0"
        placeholder="Search Here"
        (ionChange)="search()"
        (ngModelChange)="keywordChanged($event)"
        [(ngModel)]="reqAddressName"
      ></ion-searchbar>
      <ion-list
        *ngIf="places.length > 0"
        class="autocomplete-address-list common-bg-light"
        lines="full"
      >
        <div class="list autolist">
          <ion-item
            tappable
            (click)="onClickPickAddress(place.lat, place.lon)"
            class="item"
            *ngFor="let place of places"
          >
            <ion-icon name="location-outline" slot="start"></ion-icon>
            {{place.display_name}}</ion-item
          >
        </div>
      </ion-list>
      <div id="map"></div>
    </ion-slide>
  </ion-slides>
</ion-content>
