<ion-content>
  <!-- Start: header -->
  <div
    style="
      display: flex;
      flex-direction: column;
      width: 100%;
      background-color: #ffd4c8;
      justify-content: center;
      align-items: center;
      padding-top: 50px;
    "
  >
    <ion-img src="../../assets/images/signin-1.png" style="width: 100%">
    </ion-img>
  </div>
  <!-- End: header -->

  <!-- Start: Body -->
  <div
    class="ion-padding"
    style="
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 300px;
      background-color: #ffffff;
      margin-top: 30px;
      padding-right: 24px;
      padding-left: 24px;
    "
  >
    <!-- Start: Judul -->
    <div>
      <h1
        style="
          font-size: x-large;
          font-weight: 600;
          margin-bottom: 20px;
          color: #000000;
          font-family: 'Lobster', cursive;
        "
      >
        Petcare On Demand
      </h1>
    </div>
    <!-- End: Judul -->

    <!-- Start: Sub-judul -->
    <div>
      <p
        style="
          font-size: medium;
          font-weight: 300;
          margin-bottom: 20px;
          color: #b8b8b8;
          text-align: justify;
          font-family: 'Source Sans Pro', sans-serif;
        "
      >
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Non quas odio
        blanditiis laudantium maxime culpa debitis cum voluptates accusantium
        vero, saepe laboriosam nisi exercitationem ea perspiciatis praesentium
        odit, nihil animi!
      </p>
    </div>
    <!-- End: Sub-judul -->

    <!-- Start: Login Button -->
    <div
      style="
        display: flex;
        flex-direction: column;
        padding: 40px 24px 12px 24px;
      "
    >
      <button
        (click)="onSignInGoogle()"
        style="
          width: 100%;
          height: 50px;
          background-color: rgb(255, 227, 227);
          color: #000000;
          border: #ef4b52 1px solid;
          font-size: small;
          border-radius: 18px;
          font-family: 'Libre Baskerville', serif;
        "
        (click)="onSignInGoogle()"
      >
        <div
          style="
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
          "
        >
          <div>
            <ion-img
              src="../../assets/images/signin-3.png"
              style="width: 15px"
            ></ion-img>
          </div>
          <div style="margin-top: 6px; margin-left: 12px">
            Continue with google
          </div>
        </div>
      </button>
    </div>
    <!-- End: Login Button -->

    <!-- Start: label signup -->
    <div
      style="
        display: flex;
        justify-content: center;
        font-size: small;
        color: #b8b8b8;
        margin-top: 16px;
        margin-bottom: 25px;
        font-family: 'Montserrat', sans-serif;
      "
    >
      <span>
        Powered by
        <b> Petpy.id </b>
      </span>
    </div>
    <!-- End: label signup -->
  </div>
  <!-- End: Body -->
</ion-content>
