<ion-content>
  <div
    style="
      display: flex;
      flex-direction: column;
      width: 100%;
      justify-content: center;
      background-color: #ffd4c8;
      padding-top: 50px;
    "
  >
    <div
      style="
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 10px;
      "
    >
      <div
        style="
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
            0 6px 20px 0 rgba(0, 0, 0, 0.19);
          display: flex;
          justify-content: center;
          width: 70px;
          height: 70px;
          background-color: white;
          position: relative;
          z-index: 0;
          border-radius: 50%;
        "
      >
        <ion-img src="../../assets/images/landing-1.png" style="width: 50%">
        </ion-img>
      </div>
    </div>

    <div>
      <ion-img src="../../assets/images/landing-2.png" style="width: 100%">
      </ion-img>
    </div>
  </div>

  <div
    style="background-color: #ffffff; height: 100px; margin-top: -100px"
  ></div>

  <div
    style="
      display: flex;
      flex-direction: column;
      background-color: #ffffff;
      width: 100%;
      justify-content: top;
      align-items: center;
      margin-top: 0px;
    "
  >
    <div
      style="
        flex-direction: column;
        width: 100%;
        justify-content: center;
        margin-top: 20px;
      "
    >
      <ion-slides pager="true" [options]="slideOpts" #mySlider>
        <ion-slide>
          <div>
            <h1 style="font-weight: 600; font-family: 'Lobster', cursive">
              Welcome1
            </h1>
            <p
              style="
                font-size: medium;
                padding-right: 30px;
                padding-left: 30px;
                margin-bottom: 30px;
                font-family: 'Montserrat', sans-serif;
                text-align: justify;
              "
            >
              The <b>ionic conference app</b> is a practical preview of the
              ionic framework in action, and a demonstration of proper code use.
            </p>
          </div>
        </ion-slide>
        <ion-slide>
          <div>
            <h3 style="font-weight: 600; font-family: 'Lobster', cursive">
              Welcome2
            </h3>
            <p
              style="
                font-size: medium;
                padding-right: 30px;
                padding-left: 30px;
                margin-bottom: 30px;
                font-family: 'Montserrat', sans-serif;
                text-align: justify;
              "
            >
              The <b>ionic conference app</b> is a practical preview of the
              ionic framework in action, and a demonstration of proper code use.
            </p>
          </div>
        </ion-slide>
        <ion-slide>
          <div>
            <h3 style="font-weight: 600; font-family: 'Lobster', cursive">
              Welcome3
            </h3>
            <p
              style="
                font-size: medium;
                padding-right: 30px;
                padding-left: 30px;
                margin-bottom: 30px;
                font-family: 'Montserrat', sans-serif;
                text-align: justify;
              "
            >
              The <b>ionic conference app</b> is a practical preview of the
              ionic framework in action, and a demonstration of proper code use.
            </p>
          </div>
        </ion-slide>
      </ion-slides>

      <div
        style="
          display: flex;
          flex-direction: row;
          width: 100%;
          background-color: white;
          justify-content: center;
          margin-top: 60px;
          padding: 0 40px 0 40px;
        "
      >
        <div
          style="
            width: 20%;
            margin: 0 5px 0 5px;
            display: flex;
            justify-content: center;
            align-items: center;
          "
        >
          <span
            routerLink="/signup"
            routerDirection="forward"
            style="color: #8c8e91; font-family: 'Libre Baskerville', serif"
            >Signup</span
          >
        </div>
        <div style="width: 80%; margin: 0 5px 0 5px">
          <button
            routerLink="/signin"
            routerDirection="forward"
            style="
              background-color: #ef4b52;
              color: #ffffff;
              width: 100%;
              height: 40px;
              border-radius: 18px;
              font-size: medium;
              font-family: 'Libre Baskerville', serif;
            "
            expand="block"
          >
            Signin
          </button>
        </div>
      </div>
    </div>
  </div>
</ion-content>
