<ion-content>
  <div style="display: flex; width: 100%; height: 500px; background-color: #eef4fc; justify-content: center; z-index: -1;">
    <ion-img src="../../assets/icon/landing-hero.png" style="margin: 0 40px -100px 40px;">

    </ion-img>
  </div>

  <div style="display: flex; flex-direction: column; background-color: white; border-radius: 20px 20px 0 0; width: 100%; height: 250px; justify-content: top; align-items: center; z-index: -1; margin-top: -30px;">
    <div style="width: 100%; height: 100px; display: flex; justify-content: center; margin-top: -30px;">
      <div style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); display: flex; justify-content: center; width: 70px; height: 70px; background-color: white; position: relative; z-index: 0; border-radius: 50%;">
        <ion-img src="../../assets/icon/login-icon-polos.png" style="width: 50%;">

        </ion-img>  
      </div>
    </div> 
    <!-- <div style="display: flex; justify-content: center; width: 62px; height: 62px; background-color: white; border-radius: 50%; z-index: 1; margin-top: -26px; margin-left: 0px;">
      <ion-img src="../../assets/icon/login-icon-polos.png" style="width: 50%;">

      </ion-img>
    </div> -->

    <div style="flex-direction: column; width: 100%; justify-content: center; margin-top: 30px;">
      <ion-slides>
        <ion-slide style="width: 100%;">
          <div>
            <h3 style="font-weight: 600;">Welcome1</h3>
            <p style="font-size: medium; padding-right: 30px; padding-left: 30px; margin-top: 30px;">The <b>ionic conference app</b> is a practical preview of the ionic framework in action, and a demonstration of proper code use.</p>
          </div>
        </ion-slide>
        <ion-slide style="width: 100%;">
          <div>
            <h5 style="font-weight: 600;">Welcome2</h5>
            <p style="font-size: medium; padding-right: 30px; padding-left: 30px; margin-top: 30px;">The <b>ionic conference app</b> is a practical preview of the ionic framework in action, and a demonstration of proper code use.</p>
          </div>
        </ion-slide>
        <ion-slide style="width: 100%;">
          <div>
            <h5 style="font-weight: 600;">Welcome3</h5>
            <p style="font-size: medium; padding-right: 30px; padding-left: 30px; margin-top: 40px;">The <b>ionic conference app</b> is a practical preview of the ionic framework in action, and a demonstration of proper code use.</p>
          </div>
        </ion-slide>
      </ion-slides>

      <ion-button routerLink="/signin" routerDirection="forward" style="margin: 30px 35px 10px 35px; height: 50px; border-radius: 50px; font-size: medium;" expand="block">Get started</ion-button>
    </div>
  </div>
</ion-content>
