<ion-content class="background ion-padding">
  <div
    style="
      display: flex;
      width: 100%;
      margin-top: 80px;
      justify-content: center;
      align-items: center;
    "
  >
    <div
      style="
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
          0 6px 20px 0 rgba(0, 0, 0, 0.19);
        display: flex;
        justify-content: center;
        width: 100px;
        height: 100px;
        background-color: white;
        position: relative;
        z-index: 0;
        border-radius: 50%;
      "
    >
      <ion-img src="../../assets/images/home-1.png" style="width: 100%">
      </ion-img>
    </div>
  </div>

  <div
    style="
      display: flex;
      flex-direction: column;
      width: 100%;
      background-color: #ffffff;
      border-radius: 18px;
      margin-top: -50px;
      padding-bottom: 30px;
    "
  >
    <div style="display: flex; flex-direction: column; margin-top: 70px">
      <div style="text-align: center">
        <span
          style="
            font-family: 'Livvic', sans-serif;
            font-size: 24px;
            font-weight: 600;
            color: black;
          "
          >Successfully
        </span>
      </div>

      <div style="text-align: center; margin-top: 5px">
        <span
          style="
            font-family: 'Livvic', sans-serif;
            font-size: 14px;
            font-style: italic;
            color: black;
          "
          >thank you for transacting with <b>wawaPetcare</b>
        </span>
      </div>
    </div>

    <div style="width: 100%; margin-top: 20px">
      <ion-img src="../../assets/images/ordersuccess-1.png"></ion-img>
    </div>

    <div
      style="
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        width: 100%;
        padding-left: 60px;
      "
    >
      <div>
        <span
          style="
            font-family: 'Livvic', sans-serif;
            font-size: 12px;
            font-style: italic;
            color: black;
          "
          >order by email
        </span>
      </div>
      <div style="margin-top: 5px">
        <span
          style="
            font-family: 'Livvic', sans-serif;
            font-size: 14px;
            font-weight: 600;
            font-style: italic;
            color: black;
          "
          >{{ dataTransaction_email }}
        </span>
      </div>
    </div>

    <div
      style="
        margin-top: 30px;
        display: flex;
        flex-direction: row;
        width: 100%;
        padding-left: 60px;
        padding-right: 60px;
      "
    >
      <div style="width: 50%; text-align: left;">
        <span
          style="
            font-family: 'Livvic', sans-serif;
            font-size: 12px;
            font-style: italic;
            color: black;
          "
          >transaction date
        </span>
      </div>
      <div style="width: 50%;  text-align: right;">
        <span
          style="
            font-family: 'Livvic', sans-serif;
            font-size: 12px;
            font-style: italic;
            color: black;
          "
          >order ID
        </span>
      </div>
    </div>


    <div
      style="
        margin-top: 10px;
        display: flex;
        flex-direction: row;
        width: 100%;
        padding-left: 60px;
        padding-right: 60px;
      "
    >
      <div style="width: 50%; text-align: left;">
        <span
          style="
            font-family: 'Livvic', sans-serif;
            font-size: 12px;
            font-style: italic;
            color: black;
          "
          >{{myDate | date}}
        </span>
      </div>
      <div style="width: 50%;  text-align: right;">
        <span
          style="
            font-family: 'Livvic', sans-serif;
            font-size: 12px;
            font-style: italic;
            color: black;
          "
          >{{ dataTransaction_ID }}
        </span>
      </div>
    </div>

    <div
      style="
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-top: 30px;
        padding-left: 40px;
        padding-right: 40px;
      "
    >
      <div style="width: 100%">
        <button
          routerLink="/home"
          routerDirection="forward"
          style="
            background-color: #ef4b52;
            width: 100%;
            height: 40px;
            color: white;
            border-radius: 12px;
          "
        >
          See detail
        </button>
      </div>

      <div
        routerLink="/home"
        style="
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-top: 5px;
        "
      >
        <span
          style="
            font-family: 'Livvic', sans-serif;
            font-size: 14px;
            font-style: italic;
            color: #c2c2c2;
          "
          >Go to homepage
        </span>
      </div>
    </div>
  </div>
</ion-content>
