<ion-content>
  <!-- Start: div header | username and lgout -->
  <div
    style="
      position: fixed;
      width: 100%;
      height: 70px;
      z-index: 2;
      background-color: #ef4b52; ;
    "
  >
    <ion-grid style="margin-bottom: 30px" class="ion-padding">
      <ion-row style="margin-top: -8px">
        <ion-col style="margin-top: -8px">
          <div style="float: left">
            <table style="width: 100%">
              <tr>
                <td>
                  <ion-img
                    (click)="closePage()"
                    src="../../assets/images/home-2.png"
                    style="width: 50px; height: 50px; margin-top: 5px"
                  ></ion-img>
                </td>
              </tr>
            </table>

            <!-- <ion-item>
           Get LocalStorage string name : {{ userName }} || {{ apiKey }} ||
           {{ apiSc }}
         </ion-item> -->
          </div>
        </ion-col>

        <ion-col>
          <div style="float: right">
            <table style="width: 100%">
              <tr>
                <td>
                  <p style="font-size: small">
                    <a
                      style="
                        color: #ffffff;
                        margin-right: 15px;
                        text-decoration: none;
                        font-family: 'Libre Baskerville', sans-serif;
                      "
                    >
                      Order - Cukur Kucing
                    </a>
                  </p>
                </td>
              </tr>
            </table>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <!-- Start: div header | username and lgout -->

  <!-- Start: segment -->
  <div
    style="
      display: flex;
      flex-direction: row;
      margin-top: 70px;
      background-color: #f8f8f8;
      width: 100%;
      position: fixed;
      z-index: 2;
    "
  >
    <div style="width: 350px; margin-left: 10px">
      <ion-segment
        (ionChange)="segmentChanged($event)"
        value="package"
        color="danger"
        id="segmentID"
        style="width: 100%"
      >
        <ion-segment-button value="package" style="height: 50px">
          <ion-label style="color: #8c8e91; font-size: 10px; margin-left: -20px"
            >package</ion-label
          >
        </ion-segment-button>

        <ion-segment-button value="service" style="height: 50px">
          <ion-label style="color: #8c8e91; font-size: 10px; margin-left: -20px"
            >service</ion-label
          >
        </ion-segment-button>

        <ion-segment-button value="bookingpayment" style="height: 50px">
          <ion-label style="color: #8c8e91; font-size: 10px; margin-left: -20px"
            >booking and payment</ion-label
          >
        </ion-segment-button>
      </ion-segment>
    </div>
  </div>
  <!-- Start: segment -->

  <!--Start: Body  -->
  <div
    style="
      display: flex;
      flex-direction: column;
      width: 100%;
      background-color: #f8f8f8;
      margin-top: 120px;
      z-index: 1;
    "
    class="ion-padding"
  >
    <div style="z-index: 0">
      <ion-slides
        [options]="slideOpts"
        (ionSlideDidChange)="slideChanged($event)"
        #mySlider
      >
        <!-- Start: Slide 1 -->
        <ion-slide style="width: 100%; text-align: left">
          <div
            style="
              display: flex;
              flex-direction: column;
              width: 100%;
              height: auto;
              background-color: white;
              border-radius: 18px;
              padding-bottom: 20px;
              padding-right: 20px;
            "
          >
            <div
              class="ion-padding"
              style="
                width: 95%;
                border-bottom: 1px solid #bb1515;
                margin: 18px 0 10px 20px;
              "
            >
              <span
                style="
                  font-family: 'Source Sans Pro', sans-serif;
                  font-size: 16px;
                  font-weight: 600;
                  color: #000000;
                "
              >
                Available package
              </span>
            </div>
            <ion-item
              button
              detail
              *ngFor="let listproduct of listProducts_category"
              (click)="taplistProduct(listproduct)"
              routerDirection="forward"
              style="z-index: 0; margin-top: 20px"
            >
              <div style="display: flex; flex-direction: row; width: 100%">
                <div style="width: 10%; display: flex; justify-content: center">
                  <ion-thumbnail
                    slot="start"
                    style="margin-top: 5px; color: #ef4b52; font-size: 20px"
                  >
                    <ion-icon name="shield-checkmark"></ion-icon>
                  </ion-thumbnail>
                </div>
                <div
                  style="
                    width: 85%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                  "
                  class="ion-text-wrap"
                >
                  <div>
                    <span
                      style="
                        font-size: 16px;
                        font-family: 'Source Sans Pro', sans-serif;
                      "
                    >
                      {{ listproduct.item_name }}
                    </span>
                  </div>
                  <div>
                    <p
                      style="
                        color: #686868;
                        font-size: 14px;
                        font-family: 'Montserrat', sans-serif;
                        text-align: justify;
                      "
                    >
                      {{ listproduct.description }}
                    </p>
                  </div>
                </div>
              </div>
            </ion-item>
          </div>
        </ion-slide>
        <!-- End: Slide 1 -->

        <!-- Start: Slide 2 -->
        <ion-slide style="width: 100%; text-align: left">
          <div
            style="
              display: flex;
              flex-direction: column;
              background-color: white;
              border-radius: 18px;
            "
            class="ion-padding"
          >
            <div
              class="ion-padding"
              style="width: 100%; border-bottom: 1px solid #bb1515"
            >
              <span
                style="
                  font-family: 'Source Sans Pro', sans-serif;
                  font-size: 16px;
                  font-weight: 600;
                  color: #000000;
                "
              >
                Available service
              </span>
            </div>

            <!-- Start: Radio Input -->
            <div style="margin-top: 20px">
              <ion-radio-group id="clinicRadio">
                <!-- Start: div on clinic service -->
                <div
                  style="
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    background-color: #ffffff;
                    border-radius: 15px;
                    border: #ef4b52 1px solid;
                    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
                      0 6px 20px 0 rgba(0, 0, 0, 0.19);
                  "
                  (click)="enabledCS()"
                  class="ion-padding"
                >
                  <ion-radio
                    (click)="enabledCS()"
                    slot="start"
                    value="OnClinic"
                  >
                  </ion-radio>
                  <div
                    style="
                      display: flex;
                      flex-direction: row;
                      width: 100%;
                      margin-left: 20px;
                    "
                  >
                    <div style="width: 20%">
                      <ion-img
                        src="../../assets/images/transactionAll-1.png"
                        style="width: 50px"
                      ></ion-img>
                    </div>
                    <div
                      style="
                        text-align: left;
                        width: 80%;
                        margin-left: 10px;
                        margin-left: 10px;
                      "
                    >
                      <span
                        style="
                          font-family: 'Source Sans Pro', sans-serif;
                          font-size: 20px;
                        "
                      >
                        <b> On Clinic </b> </span
                      ><br />
                      <span
                        style="
                          font-family: 'Montserrat', sans-serif;
                          font-size: 14px;
                          color: #686868; ;
                        "
                      >
                        take your cat to the clinic yourself
                      </span>
                    </div>
                    <div style="width: 20%">
                      <ion-img
                        style="width: 20px"
                        src="../../assets/images/transactionAll-4.png"
                      ></ion-img>
                    </div>
                  </div>

                  <div
                    style="
                      display: flex;
                      flex-direction: column;
                      width: 100%;
                      text-align: left;
                      margin-left: 10px;

                      padding-left: 15px;
                      padding-right: 15px;
                    "
                    class="ion-padding"
                    *ngIf="isShownCS"
                    id="divCS"
                  >
                    <div
                      style="
                        font-family: 'Source Sans Pro', sans-serif;
                        font-size: 16px;
                        margin-left: 20px;
                      "
                    >
                      Petpy address
                    </div>
                    <div
                      style="
                        font-family: 'Montserrat', sans-serif;
                        font-size: 12px;
                        color: #686868;
                        margin-top: 5px;
                        margin-left: 20px;
                        padding-right: 30px;
                      "
                      class="ion-text-wrap"
                    >
                      Jl. Bukit duri salatan RT 8 RW 03 no 87
                    </div>
                  </div>
                </div>
                <!-- End: div on clinic service -->

                <!-- Start: div on home service -->
                <div>
                  <div
                    style="
                      display: flex;
                      flex-direction: column;
                      width: 100%;
                      background-color: #ffffff;
                      border-radius: 15px;
                      border: #ef4b52 1px solid;
                      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
                        0 6px 20px 0 rgba(0, 0, 0, 0.19);
                      margin-top: 10px;
                    "
                    (click)="enabledHS()"
                    class="ion-padding"
                  >
                    <ion-radio
                      (click)="enabledHS()"
                      slot="start"
                      value="HomeService"
                    >
                    </ion-radio>
                    <div
                      style="
                        display: flex;
                        flex-direction: row;
                        width: 100%;
                        margin-left: 20px;
                      "
                    >
                      <div style="width: 20%">
                        <ion-img
                          src="../../assets/images/transactionAll-2.png"
                          style="width: 50px"
                        ></ion-img>
                      </div>
                      <div
                        style="
                          text-align: left;
                          width: 80%;
                          margin-left: 10px;
                          padding-right: 10px;
                        "
                      >
                        <span
                          style="
                            font-family: 'Source Sans Pro', sans-serif;
                            font-size: 20px;
                          "
                          ><b> Home Service </b></span
                        ><br />
                        <span
                          style="
                            font-family: 'Montserrat', sans-serif;
                            font-size: 14px;
                            color: #686868; ;
                          "
                          >our partners will come to your house</span
                        >
                      </div>
                      <div style="width: 20%">
                        <ion-img
                          style="width: 20px"
                          src="../../assets/images/transactionAll-4.png"
                        ></ion-img>
                      </div>
                    </div>

                    <div
                      style="
                        display: flex;
                        flex-direction: column;
                        width: 100%;
                        text-align: left;
                        padding: 0px 15px 0px 15px;
                        margin-top: 10px;
                      "
                      *ngIf="isShownHS"
                      id="divHS"
                    >
                      <ion-item
                        button
                        detail
                        class="ion-wrap-text"
                        (click)="selectAddress()"
                      >
                        <div
                          class="ion-padding"
                          style="
                            width: 100%;
                            display: flex;
                            flex-direction: column;
                          "
                        >
                          <div>
                            <span
                              style="
                                font-family: 'Source Sans Pro', sans-serif;
                                font-size: 16px;
                              "
                              >Set your address</span
                            >
                          </div>
                          <div
                            style="
                              margin-top: 10px;
                              font-size: small;
                              color: #686868;
                              text-align: justify;
                              font-family: 'Montserrat', sans-serif;
                              font-size: 12px;
                              display: flex;
                              flex-direction: row;
                            "
                            class="ion-wrap-text"
                          >
                            <div>
                              <span>{{ pickAddressName }}</span>
                            </div>
                            <div>
                              <span>- {{ pickAddressPhone }}</span>
                            </div>
                          </div>
                          <div style="margin-top: 5px">
                            <span
                              class="ion-wrap-text"
                              style="font-size: small; color: #686868"
                              >{{ pickAddressAddress }}</span
                            >
                          </div>
                        </div>
                      </ion-item>
                    </div>
                  </div>
                </div>
                <!-- End: div on home service -->

                <!-- Start: div on delivery service -->
                <div>
                  <div
                    style="
                      display: flex;
                      flex-direction: column;
                      width: 100%;
                      background-color: #ffffff;
                      border-radius: 15px;
                      border: #ef4b52 1px solid;
                      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
                        0 6px 20px 0 rgba(0, 0, 0, 0.19);
                      margin-top: 10px;
                    "
                    (click)="enabledDS()"
                    class="ion-padding"
                  >
                    <ion-radio
                      (click)="enabledDS()"
                      slot="start"
                      value="DeliveryService"
                    >
                    </ion-radio>
                    <div
                      style="
                        display: flex;
                        flex-direction: row;
                        width: 100%;
                        margin-left: 20px;
                      "
                    >
                      <div style="width: 20%">
                        <ion-img
                          src="../../assets/images/transactionAll-3.png"
                          style="width: 50px"
                        ></ion-img>
                      </div>
                      <div
                        style="
                          text-align: left;
                          width: 80%;
                          margin-left: 10px;
                          padding-right: 10px;
                        "
                      >
                        <span
                          style="
                            font-family: 'Source Sans Pro', sans-serif;
                            font-size: 20px;
                          "
                          ><b> Delivery Service </b> </span
                        ><br />
                        <span
                          style="
                            font-family: 'Montserrat', sans-serif;
                            font-size: 14px;
                            color: #686868;
                          "
                          >grooming at the clinic with our service pick up and
                          return your pet</span
                        >
                      </div>
                      <div style="width: 20%">
                        <ion-img
                          style="width: 20px"
                          src="../../assets/images/transactionAll-4.png"
                        ></ion-img>
                      </div>
                    </div>

                    <div
                      style="
                        display: flex;
                        flex-direction: column;
                        width: 100%;
                        text-align: left;
                        padding-left: 15px;
                        padding-right: 15px;
                        margin-top: 10px;
                      "
                      *ngIf="isShownDS"
                      id="divDS"
                    >
                      <ion-item
                        button
                        detail
                        class="ion-wrap-text"
                        (click)="selectAddress()"
                      >
                        <div
                          class="ion-padding"
                          style="
                            width: 100%;
                            display: flex;
                            flex-direction: column;
                          "
                        >
                          <div>
                            <span
                              style="
                                font-family: 'Source Sans Pro', sans-serif;
                                font-size: 16px;
                              "
                              >Set your address</span
                            >
                          </div>
                          <div
                            style="
                              margin-top: 15px;
                              font-size: 12px;
                              color: #686868;
                              text-align: justify;
                              font-family: 'Montserrat', sans-serif;
                            "
                            class="ion-wrap-text"
                          >
                            <span>{{ pickAddressName }}</span>
                            -
                            <span>{{ pickAddressPhone }}</span>
                          </div>
                          <div style="margin-top: 5px">
                            <span
                              class="ion-wrap-text"
                              style="font-size: small; color: #686868"
                              >{{ pickAddressAddress }}</span
                            >
                          </div>
                        </div>
                      </ion-item>
                    </div>
                  </div>
                </div>
                <!-- End: div on delivery service -->
              </ion-radio-group>
            </div>
            <!-- End: Radio Input -->
          </div>
        </ion-slide>
        <!-- End: Slide 2 -->

        <!-- Start: Slide 3 -->
        <ion-slide style="width: 100%; text-align: left">
          <div
            style="
              display: flex;
              flex-direction: column;
              width: 100%;
              margin-bottom: 100px;
              background-color: #ffffff;
              border-radius: 18px;
            "
            class="ion-padding"
          >
            <div
              class="ion-padding"
              style="width: 100%; border-bottom: 1px solid #bb1515"
            >
              <span
                style="
                  font-family: 'Source Sans Pro', sans-serif;
                  font-size: 16px;
                  font-weight: 600;
                  color: #000000;
                "
              >
                Complate your order
              </span>
            </div>
            <!-- Start: List Input -->
            <div>
              <ion-list>
                <ion-item
                  button
                  detail
                  style="margin: 15px 0 15px 0"
                  routerLink="/transaction-selectpet"
                  routerDirection="forward"
                >
                  <div
                    style="height: 60px; display: flex; flex-direction: column"
                  >
                    <div>
                      <span
                        style="
                          font-family: 'Source Sans Pro', sans-serif;
                          font-size: 18px;
                        "
                        >select your pet</span
                      >
                    </div>
                    <div
                      style="
                        font-family: 'Montserrat', sans-serif;
                        font-size: 14px;
                        color: #686868;
                        text-align: justify;
                        margin: 10px 0 0 15px;
                      "
                    >
                      <span>{{ pickPetName }}</span>
                      -
                      <span>{{ pickPetType }}</span>
                    </div>
                  </div>
                </ion-item>

                <ion-item button detail style="margin: 15px 0 15px 0">
                  <div
                    style="
                      height: 50px;
                      display: flex;
                      flex-direction: column;
                      margin-bottom: 10px;
                    "
                  >
                    <span
                      style="
                        font-family: 'Source Sans Pro', sans-serif;
                        font-size: 18px;
                      "
                      >select date</span
                    >
                    <ion-datetime
                      [(ngModel)]="myDate"
                      (ionChange)="setDate()"
                      style="
                        font-family: 'Montserrat', sans-serif;
                        font-size: 14px;
                        color: #686868;
                      "
                      displayFormat="D MMM YYYY"
                      min="2020"
                      max="2021"
                      placeholder="- set date -"
                      id="myDate"
                    ></ion-datetime>
                  </div>
                </ion-item>

                <ion-item button detail style="margin: 15px 0 0 0">
                  <div
                    style="
                      height: 50px;
                      display: flex;
                      flex-direction: column;
                      margin-bottom: 10px;
                    "
                  >
                    <span
                      style="
                        font-family: 'Source Sans Pro', sans-serif;
                        font-size: 18px;
                      "
                      >select time</span
                    >
                    <ion-datetime
                      [(ngModel)]="myTime"
                      (ionChange)="setTime()"
                      style="
                        font-family: 'Montserrat', sans-serif;
                        font-size: 14px;
                        color: #686868;
                      "
                      displayFormat="HH:mm"
                      placeholder="- set time -"
                      id="myTime"
                    ></ion-datetime>
                  </div>
                </ion-item>
              </ion-list>
            </div>
            <!-- End: List Input -->

            <!-- Start: Radio Input -->
            <div>
              <ion-radio-group>
                <ion-list-header style="margin-bottom: 15px">
                  <span
                    style="
                      font-family: 'Source Sans Pro', sans-serif;
                      font-size: 18px;
                    "
                    >payment</span
                  >
                </ion-list-header>
                <div
                  style="
                    display: flex;
                    flex-direction: row;
                    width: 100%;
                    justify-content: space-between;
                    margin-top: -20px;
                  "
                >
                  <div style="width: 40%">
                    <ion-item>
                      <ion-label
                        style="
                          font-family: 'Source Sans Pro', sans-serif;
                          font-size: 16px;
                        "
                        >Cash</ion-label
                      >
                      <ion-radio
                        style="height: 15px; width: 15px"
                        slot="start"
                        value="cash"
                        (click)="enabledCash()"
                      ></ion-radio>
                    </ion-item>
                  </div>

                  <div style="width: 60%">
                    <ion-item>
                      <ion-label
                        style="
                          font-family: 'Source Sans Pro', sans-serif;
                          font-size: 16px;
                        "
                        >Transfer</ion-label
                      >
                      <ion-radio
                        style="height: 15px; width: 15px"
                        slot="start"
                        value="transfer"
                        (click)="enabledTransfer()"
                      ></ion-radio>
                    </ion-item>
                  </div>
                </div>

                <div
                  style="
                    display: flex;
                    flex-direction: row;
                    width: 100%;
                    height: 150px;
                    border: #8c8e91 1px solid;
                    border-radius: 18px;
                    margin-top: 10px;
                  "
                  *ngIf="isShowCash"
                  class="ion-padding"
                >
                  <div
                    style="
                      width: 30%;
                      display: flex;
                      flex-direction: column;
                      align-items: center;
                      justify-content: center;
                    "
                  >
                    Sekundren
                  </div>
                  <div
                    style="
                      width: 70%;
                      display: flex;
                      flex-direction: column;
                      align-items: center;
                      justify-content: center;
                      margin-left: 15px;
                    "
                  >
                    <div
                      style="
                        border-bottom: #c2c3c5 1px solid;
                        padding-bottom: 10px;
                      "
                    >
                      <span
                        style="
                          font-size: 12px;
                          font-family: 'Montserrat', sans-serif;
                        "
                      >
                        Payment method <b>"CASH"</b> has been selected.
                      </span>
                    </div>
                    <div style="margin-top: 10px">
                      <span
                        style="
                          font-size: 12px;
                          font-family: 'Montserrat', sans-serif;
                        "
                      >
                        Make payments at the shop offline after your pet is done
                        grooming
                      </span>
                    </div>
                  </div>
                </div>

                <div
                  style="
                    display: flex;
                    flex-direction: row;
                    width: 100%;
                    height: 150px;
                    border: #8c8e91 1px solid;
                    border-radius: 18px;
                    margin-top: 10px;
                  "
                  *ngIf="isShowTransfer"
                  class="ion-padding"
                >
                  <div
                    style="
                      width: 30%;
                      display: flex;
                      flex-direction: column;
                      align-items: center;
                      justify-content: center;
                    "
                  >
                    Sekundren
                  </div>
                  <div
                    style="
                      width: 70%;
                      display: flex;
                      flex-direction: column;
                      align-items: flex-start;
                      justify-content: center;
                      margin-left: 15px;
                    "
                  >
                    <div
                      style="
                        border-bottom: #c2c3c5 1px solid;
                        padding-bottom: 10px;
                      "
                    >
                      <span
                        style="
                          font-size: 12px;
                          font-family: 'Montserrat', sans-serif;
                        "
                      >
                        Payment method <b>"TRANSFER"</b> has been selected.
                      </span>
                    </div>
                    <div style="margin-top: 10px">
                      <span
                        style="
                          font-size: 12px;
                          font-family: 'Montserrat', sans-serif;
                        "
                      >
                        Bank : <b>Mandiri</b>
                      </span>
                    </div>
                    <div>
                      <span
                        style="
                          font-size: 12px;
                          font-family: 'Montserrat', sans-serif;
                        "
                      >
                        No rek : <b>6589895595</b>
                      </span>
                    </div>
                    <div>
                      <span
                        style="
                          font-size: 12px;
                          font-family: 'Montserrat', sans-serif;
                        "
                      >
                        Recipient : <b>PT. WawaPetcare</b>
                      </span>
                    </div>
                  </div>
                </div>
              </ion-radio-group>
            </div>
            <!-- End: Radio Input -->

            <!-- Start: Button Finish -->
            <div>
              <button
                (click)="onSaveTransaction()"
                routerDirection="forward"
                style="
                  background-color: #ef4b52;
                  width: 100%;
                  height: 40px;
                  color: white;
                  border-radius: 18px;
                  font-family: 'Libre Baskerville', serif;
                  font-size: 14px;
                  margin-top: 20px;
                "
              >
                Finish
              </button>
            </div>
            <!-- End: Button Finish -->
          </div>
        </ion-slide>
        <!-- End: Slide 3 -->
      </ion-slides>
    </div>
  </div>
  <!--Start: Body  -->
</ion-content>
