<ion-content>
  <div
    style="
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 15px;
    "
  >
    <div style="width: 10%" routerLink="/home">
      <ion-icon name="arrow-back"></ion-icon>
    </div>
    <!-- <div style="width: 80%;" routerLink="/order-setaddress" routerDirection="forward"> -->
    <div
      style="width: 80%"
      routerLink="/list-address"
      routerDirection="forward"
    >
      <div style="display: flex; flex-direction: column">
        <div>
          <span style="color: gray">Lokasi Kamu</span> &nbsp;
          <ion-icon name="chevron-down-outline"></ion-icon>
        </div>
        <div style="margin-top: 5px">
          <span> Jl. Jalan Dulu Bosen Dirumah </span>
        </div>
      </div>
    </div>
  </div>
  <div
    style="
      width: 100%;
      min-height: 95%;
      position: absolute;
      z-index: 0;
      overflow: hidden;
      margin-bottom: 20px;
    "
  >
    <!-- Start: Bg Biru Putih -->
    <img
      src="assets/icon/order-grooming-bg.png"
      alt="background-putih-biru"
      style="height: 100%; width: 100%; position: absolute; z-index: 0"
    />
    <!-- End: Bg Biru Putih -->

    <!-- Start: Banner Kucing -->
    <img
      src="assets/icon/order-grooming-banner.png"
      alt="banner"
      style="margin-top: 10px; width: 90%; position: relative; z-index: 1"
    />
    <!-- End: Banner Kucing -->

    <!-- Start: Label -->
    <div
      style="
        text-align: left;
        padding: 20px 20px 10px 30px;
        width: 100%;
        position: relative;
        z-index: 1;
      "
    >
      <ion-label>
        <h2>Mau mandi dimana ?</h2>
        <p>dengan <b>Petpy</b> mandi dirumah atau di klinik akan lebih mudah</p>
      </ion-label>
    </div>
    <!-- End: Label -->

    <!-- Start: content Item -->
    <div
      style="
        text-align: left;
        padding: 20px 20px 20px 20px;
        width: 100%;
        position: relative;
        z-index: 1;
      "
    >
      <ion-list
        style="
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
            0 6px 20px 0 rgba(0, 0, 0, 0.19);
          border-radius: 10px;
        "
        class="ion-padding"
      >
        <ion-item
          button
          detail
          routerLink="/order-selectpet"
          routerDirection="forward"
        >
          <ion-thumbnail slot="start">
            <img src="assets/icon/order-grooming-item1.png" />
          </ion-thumbnail>
          <ion-label class="ion-text-wrap">
            <h2>Home Service</h2>
            <p style="color: gray">Mitra kami akan datang ke rumah mu</p>
          </ion-label>
        </ion-item>

        <ion-item
          button
          detail
          routerLink="/order-selectclinic"
          routerDirection="forward"
        >
          <ion-thumbnail slot="start">
            <img src="assets/icon/order-grooming-item2.png" />
          </ion-thumbnail>
          <ion-label class="ion-text-wrap">
            <h2>On Clinic</h2>
            <p style="color: gray">Antar sendiri kucing mu ke klinik</p>
          </ion-label>
        </ion-item>

        <ion-item button detail>
          <ion-thumbnail slot="start">
            <img src="assets/icon/order-grooming-item3.png" />
          </ion-thumbnail>
          <ion-label class="ion-text-wrap">
            <h2>Delivery</h2>
            <p style="color: gray">
              Mandi di klinik dengan pelayanan jemput dan antar kembali hewan mu
            </p>
          </ion-label>
        </ion-item>
      </ion-list>
    </div>
    <!-- End: content Item -->

    <!-- Start: Label Bawah -->
    <div
      style="
        text-align: center;
        padding: 0px 20px 10px 30px;
        width: 100%;
        position: relative;
        z-index: 1;
      "
    >
      <ion-label>
        <p style="color: #ffffff">
          Percayakan perawatan hewan peliharaan-mu pada <b>Petpy</b>, Karna kami
          selalu standby .
        </p>
      </ion-label>
    </div>
    <!-- End: Label Bawah -->
  </div>
</ion-content>
