<ion-content class="background ion-padding">
  <!-- Start: Header -->
  <div style="margin-top: 20px; padding-left: 15px; width: 100%">
    <span
      style="
        font-family: 'Livvic', sans-serif;
        font-size: 20px;
        font-weight: 600;
        color: #ffffff;
      "
    >
      Confirm order
    </span>
  </div>
  <!-- End: Header -->

  <!-- Start: Body -->
  <div
    style="
      display: flex;
      flex-direction: column;
      width: 100%;
      background-color: #ffffff;
      border-radius: 18px;
      margin-top: 10px;
      padding-bottom: 10px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
    "
  >
    <div
      style="
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-top: 20px;
        padding: 10px 20px 10px 20px;
      "
    >
      <!-- Start: image, name, telp -->
      <div style="display: flex; flex-direction: row; width: 100%">
        <div style="width: 30%; display: flex; align-items: center">
          <ion-img src="../../assets/images/home-1.png"></ion-img>
        </div>
        <div
          style="
            width: 70%;
            display: flex;
            flex-direction: column;
            padding-left: 40px;
          "
          class="ion-padding"
        >
          <div>
            <span
              style="
                font-family: 'Livvic', sans-serif;
                font-size: 14px;
                font-weight: 600;
                color: black;
              "
              >{{ dataTransaction_name }}
            </span>
          </div>
          <div>
            <span
              style="
                font-family: 'Livvic', sans-serif;
                font-size: 14px;
                font-style: italic;
                color: #c2c2c2;
              "
            >
              name
            </span>
          </div>

          <div style="margin-top: 10px">
            <span
              style="
                font-family: 'Livvic', sans-serif;
                font-size: 14px;
                font-weight: 600;
                color: black;
              "
              >{{ dataTransaction_addressPhone }}
            </span>
          </div>
          <div>
            <span
              style="
                font-family: 'Livvic', sans-serif;
                font-size: 14px;
                font-style: italic;
                color: #c2c2c2;
              "
            >
              telp
            </span>
          </div>
        </div>
      </div>
      <!-- End: image, name, telp -->

      <!-- Start: address -->
      <div
        style="
          display: flex;
          flex-direction: column;
          width: 100%;
          margin-top: 10px;
          padding-bottom: 30px;
          border-bottom: 1px solid #c2c2c2;
        "
      >
        <div style="padding-left: 10px">
          <span
            style="
              font-family: 'Livvic', sans-serif;
              font-size: 14px;
              font-style: italic;
              color: #c2c2c2;
            "
          >
            address
          </span>
        </div>
        <div style="margin-top: 10px; padding-left: 10px">
          <span
            style="
              font-family: 'Livvic', sans-serif;
              font-size: 14px;
              font-weight: 600;
              color: black;
            "
            >{{ dataTransaction_addressName }}
          </span>
        </div>
        <div style="margin-top: 3px; padding-left: 10px; padding-right: 10px">
          <span
            style="
              font-family: 'Livvic', sans-serif;
              font-size: 14px;
              color: black;
            "
            >{{ dataTransaction_addressAddress }} {{
            dataTransaction_addressAddress }}
          </span>
        </div>
      </div>
      <!-- End: address -->

      <!-- Start: date and pet -->
      <div
        style="
          display: flex;
          flex-direction: row;
          width: 100%;
          margin-top: 15px;
        "
      >
        <div style="width: 50%; padding-left: 10px">
          <span
            style="
              font-family: 'Livvic', sans-serif;
              font-size: 14px;
              font-weight: 600;
              color: black;
            "
            >{{ dataTransaction_date }} / {{ dataTransaction_time }}
          </span>
        </div>
        <div style="width: 50%; text-align: right; padding-right: 10px">
          <span
            style="
              font-family: 'Livvic', sans-serif;
              font-size: 14px;
              font-weight: 600;
              color: black;
            "
            >{{ dataTransaction_petname }} / {{ dataTransaction_pettype }}
          </span>
        </div>
      </div>

      <div style="display: flex; flex-direction: row; width: 100%">
        <div style="width: 50%; padding-left: 10px">
          <span
            style="
              font-family: 'Livvic', sans-serif;
              font-size: 14px;
              font-style: italic;
              color: #c2c2c2;
            "
          >
            date / time
          </span>
        </div>
        <div style="width: 50%; text-align: right; padding-right: 10px">
          <span
            style="
              font-family: 'Livvic', sans-serif;
              font-size: 14px;
              font-style: italic;
              color: #c2c2c2;
            "
          >
            pet name / pet type
          </span>
        </div>
      </div>
      <!-- End: date and pet -->

      <!-- Start: total amount and payment method -->
      <div
        style="
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          width: 100%;
          margin-top: 30px;
        "
      >
        <div>
          <span
            style="
              font-family: 'Livvic', sans-serif;
              font-size: 14px;
              font-style: italic;
              color: #c2c2c2;
            "
          >
            total amount
          </span>
        </div>

        <div>
          <span
            style="
              font-family: 'Livvic', sans-serif;
              font-size: 38px;
              font-weight: 600;
              color: black;
            "
            >Rp. {{ dataTransaction_totalamount }}
          </span>
        </div>

        <div>
          <span
            style="
              font-family: 'Livvic', sans-serif;
              font-size: 14px;
              font-style: italic;
              color: #c2c2c2;
            "
          >
            payment method :
            <b style="color: #000000">{{ dataTransaction_payment }}</b>
          </span>
        </div>
      </div>
      <!-- End: total amount and payment method -->

      <!-- End: caption detail order -->
      <div
        style="display: flex; width: 100%; padding-left: 10px; margin-top: 30px"
      >
        <span
          style="
            font-family: 'Livvic', sans-serif;
            font-size: 14px;
            font-style: italic;
            color: #c2c2c2;
          "
        >
          detail order
        </span>
      </div>
      <!-- End: caption detail order -->

      <!-- Start: Detail Order -->
      <div
        style="
          width: 100%;
          background-color: white;
          display: flex;
          flex-direction: column;
          justify-content: center;
          background-color: #f3f3f3;
          border-radius: 8px;
          padding: 10px;
          margin-top: 5px;
        "
      >
        <!-- Start: Detail Order | package -->
        <div style="display: flex; flex-direction: row">
          <div style="width: 70%; text-align: justify; padding-left: 20px">
            <span
              style="
                font-family: 'Livvic', sans-serif;
                font-size: 14px;
                font-weight: 600;
                color: black;
              "
              >{{ dataTransaction_package }}
            </span>
          </div>
          <div style="width: 30%; text-align: center">
            <span
              style="
                font-family: 'Livvic', sans-serif;
                font-size: 14px;
                font-weight: 600;
                color: black;
              "
              >Rp. {{ dataTransaction_packagePayment }}
            </span>
          </div>
        </div>
        <div style="display: flex; flex-direction: row">
          <div style="width: 70%; text-align: justify; padding-left: 20px">
            <span
              style="
                font-family: 'Livvic', sans-serif;
                font-size: 14px;
                font-style: italic;
                color: #c2c2c2;
              "
            >
              package
            </span>
          </div>
        </div>
        <!-- End: Detail Order | package -->

        <!-- Start: Detail Order | service -->
        <div style="display: flex; flex-direction: row; margin-top: 10px">
          <div style="width: 70%; text-align: justify; padding-left: 20px">
            <span
              style="
                font-family: 'Livvic', sans-serif;
                font-size: 14px;
                font-weight: 600;
                color: black;
              "
              >{{ dataTransaction_service }}
            </span>
          </div>
          <div style="width: 30%; text-align: center">
            <span
              style="
                font-family: 'Livvic', sans-serif;
                font-size: 14px;
                font-weight: 600;
                color: black;
              "
              >Rp. {{ dataTransaction_servicePayment }}
            </span>
          </div>
        </div>
        <div style="display: flex; flex-direction: row">
          <div style="width: 70%; text-align: justify; padding-left: 20px">
            <span
              style="
                font-family: 'Livvic', sans-serif;
                font-size: 14px;
                font-style: italic;
                color: #c2c2c2;
              "
            >
              service
            </span>
          </div>
        </div>
        <!-- End: Detail Order | service -->
      </div>
      <!-- End: Detail Order -->

      <!-- Start: Button Back - Yes -->
      <div
        style="
          display: flex;
          flex-direction: row;
          width: 100%;
          margin-top: 30px;
        "
        class="ion-padding"
      >
        <div
          (click)="confirmNo()"
          style="
            width: 30%;
            display: flex;
            align-items: center;
            justify-content: center;
          "
        >
          <span style="font-size: medium; font-weight: 600; color: #c2c2c2">
            back
          </span>
        </div>
        <div style="width: 70%">
          <button
            (click)="confirmYes()"
            routerDirection="forward"
            style="
              background-color: #ef4b52;
              width: 100%;
              height: 40px;
              color: white;
              border-radius: 12px;
            "
          >
            yes, i'm sure
          </button>
        </div>
      </div>
      <!-- End: Button Back - Yes -->
    </div>
  </div>
  <!-- End: Body -->
</ion-content>
