<ion-header style="background-color: mediumblue">
  <ion-toolbar>
    <ion-title> Pilih Paket-mu </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()" style="color: mediumblue">
        Tutup
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-item
    button
    detail
    *ngFor="let dataPackage of dataPackages"
    (click)="tapValue()"
  >
    <ion-thumbnail slot="start">
      <img src="https://img.icons8.com/fluent/48/000000/groomig.png" />
    </ion-thumbnail>
    <ion-label class="ion-text-wrap">
      <h2>{{ dataPackage.name }}</h2>
      <p style="color: gray">Rp. {{ dataPackage.harga }}</p>
      <p style="color: gray">{{ dataPackage.detail }}</p>
    </ion-label>
  </ion-item>
</ion-content>
