<ion-header>
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
</ion-header>

<ion-content>
  <div
    style="
      width: 100%;
      height: 80px;
      background-color: FFFFFF;
      display: flex;
      align-items: center;
    "
  >
    <div
      style="margin-left: 10px; color: #1a72f8; width: 10%"
      routerLink="/order-selectpackage"
    >
      <h1>
        <ion-icon name="arrow-back-circle"></ion-icon>
      </h1>
    </div>
    <div
      style="color: #1a72f8; width: 75%; display: flex; justify-content: center"
    >
      <h5><b>Petpy</b> - Order Grooming</h5>
    </div>
    <div></div>
  </div>

  <div
    id="FormDetail"
    style="
      background-color: #ffffff;
      width: 100%;
      overflow: hidden;
      border-radius: 0% 0% 5% 5%;
      margin-left: 0px;
      position: relative;
      z-index: 1;
      padding-bottom: 10px;
    "
  >
    <!-- Start: Breadcrumb & Title -->
    <div style="text-align: center; margin-bottom: 50px">
      <h5 color="dark">Order - Pilih Tanggal dan Jam</h5>
      <ion-img
        src="assets/icon/order-selectpet-breadcrumb3.png"
        style="width: 45%; margin: auto"
      ></ion-img>
    </div>
    <!-- End: Breadcrumb & Title -->

    <!-- Start: Content Image -->
    <div>
      <ion-img
        src="assets/icon/order-selectdatetime-content1.png"
        style="width: 60%; margin: auto"
      ></ion-img>
    </div>
    <!-- End: Content Image -->

    <!-- Start: Form Input -->
    <div class="ion-padding">
      <ion-list>
        <ion-item button>
          <ion-grid>
            <ion-row>
              <ion-col>
                <ion-label>
                  <h2>
                    <b> Pilih Tanggal </b>
                  </h2>
                </ion-label>
                <ion-img
                  src="assets/icon/order-arrow.png"
                  style="width: 20px; margin-left: 90%; position: absolute"
                ></ion-img>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-datetime
                  displayFormat="D MMM YYYY"
                  min="2020"
                  max="2021"
                ></ion-datetime>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>

        <!-- <div class="ion-padding" id="myCal" style="display: none;">

          <ion-calendar [(ngModel)]="date"
            (click)="closeCalendar()"
            [type]="type"
            [format]="'YYYY-MM-DD'">
          </ion-calendar>
        
        </div> -->

        <ion-item>
          <ion-grid>
            <ion-row>
              <ion-col>
                <ion-label>
                  <h2>
                    <b> Pilih Jam </b>
                  </h2>
                </ion-label>
                <ion-img
                  src="assets/icon/order-arrow.png"
                  style="width: 20px; margin-left: 90%; position: absolute"
                ></ion-img>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-datetime displayFormat="HH:mm"></ion-datetime>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
      </ion-list>
    </div>
    <!-- End: Form Input -->
  </div>

  <div
    style="
      background-color: #1a72f8;
      width: 100%;
      overflow: hidden;
      padding-top: 0px;
      position: relative;
      margin-top: -80px;
      height: 30%;
    "
  >
    <div class="ion-text-justify">
      <button
        routerLink="/order-selectpayment"
        routerDirection="forward"
        style="
          position: absolute;
          bottom: 20px;
          width: 90%;
          height: 40px;
          margin-left: 12px;
          border: white 2px solid;
          background-color: #1a72f8;
          font-size: medium;
          color: white;
          border-radius: 10px;
        "
      >
        Lanjut
        <ion-icon name="arrow-forward-circle"></ion-icon>
      </button>
    </div>
  </div>
</ion-content>
