<ion-header style="background-color: mediumblue">
  <ion-toolbar>
    <ion-title> Pilih Hewan-mu </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="back()" style="color: mediumblue">
        Tutup
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-item
    button
    detail
    #mySelect
    *ngFor="let pet of storagePets"
    (click)="tapValue($event)"
  >
    <ion-thumbnail slot="start">
      <img src="https://img.icons8.com/emoji/48/000000/cat-emoji.png" />
    </ion-thumbnail>
    <ion-label class="ion-text-wrap">
      <h2>{{ pet.name }}</h2>
      <p style="color: gray">{{ pet.detail }}</p>
    </ion-label>
  </ion-item>
  <div style="width: 90%; margin: 20px 0px 0px 20px">
    <ion-button style="width: 100%" (click)="inputCustomPetValue()">
      Tambah
      <ion-icon slot="end" name="add"></ion-icon>
    </ion-button>
  </div>
</ion-content>
