<ion-content>
  <div
    style="
      background-color: #f7f7f7;
      display: flex;
      flex-direction: column;
      width: 100%;
      z-index: 2;
      position: fixed;
    "
    class="ion-padding"
  >
    <!-- Start: button back and button add pet -->
    <div
      style="
        width: 90%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto 0 auto;
        z-index: 1;
      "
    >
      <div
        style="width: 10%"
        routerLink="/transaction"
        routerDirection="forward"
      >
        <ion-icon name="arrow-back"></ion-icon>
      </div>
      <div (click)="showAP()" routerDirection="forward">
        <ion-icon name="add-circle" style="color: #1a72f8"></ion-icon> &nbsp;
        <span style="color: #1a72f8">add pet</span>
      </div>
    </div>
    <!-- End: button back and button add pet -->

    <!-- Start: form add pet -->
    <div
      style="
        display: flex;
        flex-direction: column;
        background-color: #ffffff;
        margin-top: 20px;
        border-radius: 18px;
      "
      *ngIf="isShowAP"
      class="ion-padding"
    >
      <div style="text-align: center">
        <span
          style="
            font-size: 25px;
            font-weight: 600;
            font-family: 'Source Sans Pro', sans-serif;
          "
        >
          Register your lovely pet
        </span>
      </div>

      <div
        style="
          display: flex;
          flex-direction: row;
          align-items: center;
          padding-left: 25px;
          padding-right: 10px;
          border-bottom: #9a9da0 1px solid;
          margin: 15px 20px 15px 20px;
        "
      >
        <div>
          <ion-icon
            style="font-size: large; color: #9a9da0"
            name="at-outline"
          ></ion-icon>
        </div>
        <div style="width: 100%">
          <ion-input
            name="newPetName"
            [(ngModel)]="newPetName"
            class="ion-padding"
            type="text"
            placeholder="your pet name "
            style="font-size: 12px; font-family: 'Montserrat', sans-serif"
          ></ion-input>
        </div>
      </div>

      <ion-radio-group>
        <div
          style="
            display: flex;
            flex-direction: row;
            align-items: center;
            padding-right: 10px;
            margin-bottom: 15px;
            border-bottom: #9a9da0 1px solid;
            margin-right: 20px;
            margin-left: 20px;
          "
        >
          <div style="width: 50%">
            <ion-item>
              <ion-label
                style="font-size: 12px; font-family: 'Montserrat', sans-serif"
                >Kucing</ion-label
              >
              <ion-radio
                style="height: 15px; width: 15px"
                (click)="pickKucing()"
                slot="start"
                value="kucing"
              >
              </ion-radio>
            </ion-item>
          </div>
          <div style="width: 50%">
            <ion-item>
              <ion-label
                style="font-size: 12px; font-family: 'Montserrat', sans-serif"
                >Anjing</ion-label
              >
              <ion-radio
                style="height: 15px; width: 15px"
                (click)="pickAnjing()"
                slot="start"
                value="anjing"
              >
              </ion-radio>
            </ion-item>
          </div>
        </div>
      </ion-radio-group>

      <div
        style="
          display: flex;
          flex-direction: row;

          padding-left: 20px;
          padding-right: 20px;
        "
      >
        <div
          style="
            width: 30%;
            display: flex;
            justify-content: right;
            align-items: center;
          "
        >
          <span
            (click)="hideAP()"
            style="
              color: #9a9da0;
              font-size: 12px;
              font-family: 'Libre Baskerville', serif;
            "
            >Close</span
          >
        </div>
        <div style="width: 70%; padding-left: 20px; padding-right: 20px">
          <button
            (click)="saveNewPet()"
            style="
              background-color: #1a72f8;
              color: #ffffff;
              width: 100%;
              height: 30px;
              border-radius: 18px;
              font-size: 12px;
              font-family: 'Libre Baskerville', serif;
            "
            expand="block"
          >
            Signin
          </button>
        </div>
      </div>
    </div>
    <!-- Start: form add pet -->
  </div>

  <!-- Start: list of dearest pets -->
  <div style="margin-top: 70px" id="divLabel">
    <span
      style="
        font-size: 25px;
        font-weight: 600;
        font-family: 'Source Sans Pro', sans-serif;
        margin-left: 10px;
      "
      class="ion-padding"
    >
      list of your dearest pets
    </span>
  </div>
  <!-- Start: list of dearest pets -->

  <div style="display: flex; flex-direction: column; z-index: -1" id="divList">
    <div style="margin-top: 15px">
      <ion-item
        button
        *ngFor="let storagePet of storageFilterArrayPet;"
        (click)="tapValue(storagePet)"
      >
        <ion-label class="ion-text-wrap">
          <div style="display: flex; flex-direction: row">
            <div style="width: 15%">
              <ion-thumbnail
                style="
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  width: 100%;
                "
              >
                <ion-icon
                  name="paw"
                  style="height: 30px; width: 30px"
                ></ion-icon>
              </ion-thumbnail>
            </div>
            <div style="width: 85%">
              <h2 style="font-weight: 600">{{ storagePet.name }}</h2>
              <p
                style="
                  color: gray;
                  font-size: small;
                  text-align: justify;
                  padding: 5px 5px 5px 5px;
                "
              >
                {{ storagePet.type }}
              </p>
            </div>
          </div>
        </ion-label>
      </ion-item>
    </div>
  </div>
</ion-content>
