<ion-content>
  <div
    style="
      width: 100%;
      display: flex;
      flex-direction: column;
      background-color: #ef4b52;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 2px 8px 0 rgba(0, 0, 0, 0.19);
      position: fixed;
      z-index: 1;
    "
    class="ion-padding"
  >
    <!-- start: button back and add address -->
    <div
      style="
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
      "
    >
      <div style="width: 10%" (click)="backPage()">
        <ion-icon
          style="color: #ffffff; font-size: 16px"
          name="arrow-back"
        ></ion-icon>
      </div>

      <div
        (click)="showAP()"
        style="display: flex; justify-content: center; align-items: center"
      >
        <ion-icon
          name="add-circle"
          style="color: #ffffff; font-size: 16px"
        ></ion-icon>
        &nbsp;
        <span
          style="
            font-family: 'Libre Baskerville', serif;
            font-size: 12px;
            color: #ffffff;
          "
          >Add your pet</span
        >
      </div>
    </div>
    <!-- End: button back and add address -->

    <!-- start: choose address -->
    <div class="ion-padding">
      <span
        style="
          font-family: 'Lobster', cursive;
          font-size: 20px;
          font-weight: 600;
          color: #ffffff;
        "
      >
        List of your dearest pets
      </span>
    </div>
    <!-- End: choose address -->

    <!-- Start: form add pet -->
    <div
      style="
        display: flex;
        flex-direction: column;
        background-color: #ffffff;
        margin-top: 20px;
        border-radius: 18px;
      "
      *ngIf="isShowAP"
      class="ion-padding"
    >
      <div style="text-align: center">
        <span
          style="
            font-size: 25px;
            font-weight: 600;
            font-family: 'Source Sans Pro', sans-serif;
          "
        >
          Register your lovely pet
        </span>
      </div>

      <div
        style="
          display: flex;
          flex-direction: row;
          align-items: center;
          padding-left: 25px;
          padding-right: 10px;
          border-bottom: #9a9da0 1px solid;
          margin: 15px 20px 15px 20px;
        "
      >
        <div>
          <ion-icon
            style="font-size: large; color: #9a9da0; margin-left: -6px"
            name="paw"
          ></ion-icon>
        </div>
        <div style="width: 100%">
          <ion-input
            name="newPetName"
            [(ngModel)]="newPetName"
            class="ion-padding"
            type="text"
            placeholder="your pet name "
            style="
              font-size: 12px;
              font-family: 'Montserrat', sans-serif;
              margin-left: 15px;
            "
          ></ion-input>
        </div>
      </div>

      <ion-radio-group name="radioCategoryPet">
        <div
          style="
            display: flex;
            flex-direction: row;
            align-items: center;
            padding-right: 10px;
            margin-bottom: 15px;
            border-bottom: #9a9da0 1px solid;
            margin-right: 20px;
            margin-left: 20px;
          "
        >
          <div style="width: 50%">
            <ion-item>
              <ion-label
                style="
                  font-size: 12px;
                  font-family: 'Montserrat', sans-serif;
                  color: #9a9da0;
                "
                >Kucing</ion-label
              >
              <ion-radio
                style="height: 15px; width: 15px"
                (click)="pickKucing()"
                slot="start"
                value="kucing"
              >
              </ion-radio>
            </ion-item>
          </div>
          <div style="width: 50%">
            <ion-item>
              <ion-label
                style="
                  font-size: 12px;
                  font-family: 'Montserrat', sans-serif;
                  color: #9a9da0;
                "
                >Anjing</ion-label
              >
              <ion-radio
                style="height: 15px; width: 15px"
                (click)="pickAnjing()"
                slot="start"
                value="anjing"
              >
              </ion-radio>
            </ion-item>
          </div>
        </div>
      </ion-radio-group>

      <div
        style="
          display: flex;
          flex-direction: row;

          padding-left: 20px;
          padding-right: 20px;
        "
      >
        <div
          style="
            width: 30%;
            display: flex;
            justify-content: right;
            align-items: center;
          "
        >
          <span
            (click)="hideAP()"
            style="
              color: #9a9da0;
              font-size: 12px;
              font-family: 'Libre Baskerville', serif;
            "
            >Close</span
          >
        </div>
        <div style="width: 70%; padding-left: 20px; padding-right: 20px">
          <button
            (click)="saveNewPet()"
            style="
              background-color: #1a72f8;
              color: #ffffff;
              width: 100%;
              height: 30px;
              border-radius: 18px;
              font-size: 12px;
              font-family: 'Libre Baskerville', serif;
            "
            expand="block"
          >
            Save
          </button>
        </div>
      </div>
    </div>
    <!-- Start: form add pet -->
  </div>

  <div
    style="
      display: flex;
      flex-direction: column;
      width: 100%;
      margin-top: 95px;
      padding-bottom: 10px;
      background-color: #ffffff;
      z-index: 0;
    "
    id="divList"
    class="ion-padding"
  >
    <ion-item
      style="margin-top: 10px; z-index: 0"
      button
      *ngFor="let storagePet of storageFilterArrayPet"
      (click)="tapValue(storagePet)"
    >
      <ion-thumbnail slot="start">
        <ion-icon style="color: #ef4b52; font-size: 30px" name="paw"></ion-icon>
      </ion-thumbnail>
      <ion-label class="ion-text-wrap">
        <span
          style="
            font-weight: 600;
            font-family: 'Source Sans Pro', sans-serif;
            font-size: 16px;
            color: #000000;
          "
          >{{ storagePet.name }}</span
        >
        <p
          style="
            font-family: 'Montserrat', sans-serif;
            color: #9a9da0;
            font-size: 12px;
            text-align: justify;
            padding: 5px 5px 5px 5px;
          "
        >
          {{ storagePet.type }}
        </p>
      </ion-label>
    </ion-item>
  </div>
</ion-content>
