<ion-content class="ion-padding">
  <div style="margin-top: 30px; border-radius: 10px 10px 0px 0">
    <div
      style="
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 15px;
      "
    >
      <div
        style="width: 10%"
        routerLink="/order-grooming"
        routerDirection="forward"
      >
        <ion-icon name="arrow-back"></ion-icon>
      </div>
      <div routerLink="/order-grooming" routerDirection="forward">
        <ion-icon name="add-circle" style="color: #1a72f8"></ion-icon> &nbsp;
        <span style="color: #1a72f8">Tambah Alamat</span>
      </div>
    </div>

    <div>
      <div class="ion-padding">
        <h5>Pilih Alamat</h5>
      </div>
      <ion-item
        button
        *ngFor="let dataAddress of dataAddresses"
        (click)="tapValue()"
      >
        <ion-thumbnail
          slot="start"
          style="justify-content: center; align-items: center"
        >
          <h3>
            <ion-icon name="locate"></ion-icon>
          </h3>
        </ion-thumbnail>
        <ion-label class="ion-text-wrap">
          <h2>{{ dataAddress.name }}</h2>
          <p style="color: gray">{{ dataAddress.detail }}</p>
        </ion-label>
      </ion-item>
    </div>
  </div>
</ion-content>
