<ion-content>
  <!-- Start: Header -->
  <div
    style="
      display: flex;
      flex-direction: row;
      background-color: rgb(238, 238, 238);
      width: 100%;
      height: 80px;
      position: fixed;
      z-index: 1;
    "
  >
    <div style="width: 10%; margin-top: 20px; text-align: right">
      <ion-icon
        routerLink="/home"
        style="color: #0f3266; font-size: large"
        name="close"
      ></ion-icon>
    </div>
    <div
      style="width: 90%; color: #0f3266; margin-top: 20px; text-align: center"
    >
      <span style="font-size: large; font-weight: 600">
        Order - Cukur Kucing
      </span>
    </div>
  </div>

  <div
    style="
      display: flex;
      flex-direction: row;
      background-color: white;
      width: 100%;
      height: 50px;
      margin-top: 60px;
      border-radius: 15px 15px 0 0;
      position: fixed;
      z-index: 2;
    "
    class="ion-padding"
  >
    <div style="width: 10%; text-align: right">
      <ion-icon
        (click)="swipePrev()"
        style="color: #000000; font-size: large"
        name="arrow-back-outline"
      ></ion-icon>
    </div>
    <div style="width: 90%; text-align: left; margin-left: 10px">
      <span style="color: #000000; font-size: medium">
        complete your order
      </span>
    </div>
  </div>
  <!-- End: Header -->

  <!-- Start: Body -->
  <ion-slides style="z-index: -1" [options]="slideOpts" #mySlider>
    <!-- Start: Slide 1 -->
    <ion-slide style="width: 100%; text-align: left">
      <div
        style="
          display: flex;
          flex-direction: column;
          width: 100%;
          height: auto;
          background-color: white;
          margin-top: 100px;
        "
        class="ion-padding"
      >
        <ion-item
          button
          detail
          (click)="swipeNext()"
          *ngFor="let listproduct of listProducts_cat"
          routerDirection="forward"
          style="z-index: 0; margin-top: 10px"
        >
          <ion-thumbnail slot="start" style="width: 35px; height: 35px">
            <img src="https://img.icons8.com/fluent/48/000000/groomig.png" />
          </ion-thumbnail>
          <ion-label class="ion-text-wrap">
            <h5 style="font-size: small">{{ listproduct.item_name }}</h5>
            <p style="color: gray; font-size: x-small">
              {{ listproduct.description }}
            </p>
          </ion-label>
        </ion-item>
      </div>
    </ion-slide>
    <!-- End: Slide 1 -->

    <!-- Start: Slide 2 -->
    <ion-slide style="width: 100%; text-align: left">
      <div
        style="
          display: flex;
          flex-direction: column;
          height: auto;
          margin-top: 120px;
          background-color: white;
        "
        class="ion-padding"
      >
        <ion-radio-group (ionChange)="onChangeRadio($event)">
          <div>
            <!-- Start: div on clinic service -->
            <div
              style="
                display: flex;
                flex-direction: column;
                width: 100%;
                background-color: white;
                border-radius: 15px;
                border: #1a72f8 1px solid;
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
                  0 6px 20px 0 rgba(0, 0, 0, 0.19);
              "
              class="ion-padding"
            >
              <ion-radio slot="start" value="OnCLinic"> </ion-radio>
              <div
                style="
                  display: flex;
                  flex-direction: row;
                  width: 100%;
                  margin-left: 20px;
                "
              >
                <div style="width: 20%">
                  <ion-img
                    src="../../assets/icon/order-grooming-item2.png"
                    style="width: 50px"
                  ></ion-img>
                </div>
                <div
                  style="
                    text-align: left;
                    width: 80%;
                    margin-left: 10px;
                    margin-left: 10px;
                  "
                >
                  <span style="font-size: medium">On Clinic</span><br />
                  <span style="font-size: small; color: #8d8c8c"
                    >take your cat to the clinic yourself</span
                  >
                </div>
                <div style="width: 20%">
                  <ion-img
                    style="width: 20px"
                    src="../../assets/icon/transaction/info.png"
                  ></ion-img>
                </div>
              </div>

              <div
                style="
                  display: flex;
                  flex-direction: column;
                  width: 100%;
                  text-align: left;
                  margin-left: 10px;

                  padding-left: 15px;
                  padding-right: 15px;
                "
                class="ion-padding"
              >
                <div style="font-size: medium; margin-left: 20px">
                  Petpy address
                </div>
                <div
                  style="
                    font-size: small;
                    color: #8d8c8c;
                    margin-top: 5px;
                    margin-left: 20px;
                  "
                  class="ion-text-wrap"
                >
                  Jl. Bukit duri salatan no 67 - RT RW gatau gatau gatau gatau
                  gatau gatau gatau
                </div>
              </div>
            </div>
            <!-- End: div on clinic service -->

            <!-- Start: div on home service -->
            <div>
              <div
                style="
                  display: flex;
                  flex-direction: column;
                  width: 100%;
                  background-color: white;
                  border-radius: 15px;
                  border: #1a72f8 1px solid;
                  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
                    0 6px 20px 0 rgba(0, 0, 0, 0.19);
                  margin-top: 10px;
                "
                class="ion-padding"
              >
                <ion-radio slot="start" value="HomeService"> </ion-radio>
                <div
                  style="
                    display: flex;
                    flex-direction: row;
                    width: 100%;
                    margin-left: 20px;
                  "
                >
                  <div style="width: 20%">
                    <ion-img
                      src="../../assets/icon/order-grooming-item1.png"
                      style="width: 50px"
                    ></ion-img>
                  </div>
                  <div style="text-align: left; width: 80%; margin-left: 10px">
                    <span style="font-size: medium">Home Service</span><br />
                    <span style="font-size: small; color: #8d8c8c"
                      >our partners will come to your house</span
                    >
                  </div>
                  <div style="width: 20%">
                    <ion-img
                      style="width: 20px"
                      src="../../assets/icon/transaction/info.png"
                    ></ion-img>
                  </div>
                </div>
                <div
                  style="
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    text-align: left;
                    padding-left: 15px;
                    padding-right: 15px;
                    margin-top: 10px;
                  "
                >
                  <ion-item
                    button
                    detail
                    class="ion-wrap-text"
                    (click)="selectAddress()"
                  >
                    <div
                      class="ion-padding"
                      style="width: 100%; display: flex; flex-direction: column"
                    >
                      <div>
                        <span style="font-size: medium">set your address</span>
                      </div>
                      <div
                        style="
                          margin-top: 15px;
                          font-size: small;
                          color: #8d8c8c;
                          text-align: justify;
                        "
                        class="ion-wrap-text"
                      >
                        <span>{{ addressNameHome }}</span>
                        -
                        <span>{{ addressPhoneHome }}</span>
                      </div>
                      <div style="margin-top: 5px">
                        <span
                          class="ion-wrap-text"
                          style="font-size: small; color: #8d8c8c"
                          >{{ addressAddressHome }}</span
                        >
                      </div>
                    </div>
                  </ion-item>
                </div>
              </div>
            </div>
            <!-- End: div on home service -->

            <!-- Start: div on delivery service -->
            <div>
              <div
                style="
                  display: flex;
                  flex-direction: column;
                  width: 100%;
                  background-color: white;
                  border-radius: 15px;
                  border: #1a72f8 1px solid;
                  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
                    0 6px 20px 0 rgba(0, 0, 0, 0.19);
                  margin-top: 10px;
                "
                class="ion-padding"
              >
                <ion-radio slot="start" value="DeliveryService"> </ion-radio>
                <div
                  style="
                    display: flex;
                    flex-direction: row;
                    width: 100%;
                    margin-left: 20px;
                  "
                >
                  <div style="width: 20%">
                    <ion-img
                      src="../../assets/icon/order-grooming-item3.png"
                      style="width: 50px"
                    ></ion-img>
                  </div>
                  <div style="text-align: left; width: 80%; margin-left: 10px">
                    <span style="font-size: medium">Delivery Service</span
                    ><br />
                    <span style="font-size: small; color: #8d8c8c"
                      >grooming at the clinic with our service pick up and
                      return your pet</span
                    >
                  </div>
                  <div style="width: 20%">
                    <ion-img
                      style="width: 20px"
                      src="../../assets/icon/transaction/info.png"
                    ></ion-img>
                  </div>
                </div>
                <div
                  style="
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    text-align: left;
                    padding-left: 15px;
                    padding-right: 15px;
                    margin-top: 10px;
                  "
                >
                  <ion-item
                    button
                    detail
                    class="ion-wrap-text"
                    (click)="inputCustomAddressDeliveryValue()"
                  >
                    <div
                      class="ion-padding"
                      style="width: 100%; display: flex; flex-direction: column"
                    >
                      <div>
                        <span style="font-size: medium">set your address</span>
                      </div>
                      <div
                        style="
                          margin-top: 15px;

                          font-size: small;
                          color: #8d8c8c;
                          text-align: justify;
                        "
                        class="ion-wrap-text"
                      >
                        <span>{{ addressNameDelivery }}</span>
                        -
                        <span>{{ addressPhoneDelivery }}</span>
                      </div>
                      <div style="margin-top: 5px">
                        <span
                          class="ion-wrap-text"
                          style="font-size: small; color: #8d8c8c"
                          >{{ addressAddressDelivery }}</span
                        >
                      </div>
                    </div>
                  </ion-item>
                </div>
              </div>
            </div>
            <!-- End: div on delivery service -->
          </div>
        </ion-radio-group>

        <button
          (click)="swipeNext()"
          routerDirection="forward"
          style="
            background-color: #1a72f8;
            width: 100%;
            height: 40px;
            color: white;
            border-radius: 10px;
            margin-top: 20px;
          "
        >
          Next
          <ion-icon
            style="
              color: white;
              font-size: small;
              position: absolute;
              margin-left: 120px;
            "
            name="arrow-forward-outline"
          ></ion-icon>
        </button>
      </div>
    </ion-slide>
    <!-- End: Slide 2 -->

    <!-- Start: Slide 3 -->
    <ion-slide style="width: 100%; text-align: left">
      <div
        style="
          display: flex;
          flex-direction: column;
          height: auto;
          width: 100%;
          margin-top: 110px;
          background-color: white;
        "
        class="ion-padding"
      >
        <ion-list style="margin-top: -10px">
          <ion-item
            button
            detail
            style="margin: 15px 0 15px 0"
            routerLink="/order-selectpetmodal"
            routerDirection="forward"
          >
            <div style="height: 60px; display: flex; flex-direction: column">
              <span style="font-size: medium">select your pet</span>
              <span
                style="
                  font-size: small;
                  color: #8d8c8c;
                  margin-left: 20px;
                  margin-top: 10px;
                "
                >{{ pet }}</span
              >
            </div>
          </ion-item>

          <ion-item button detail style="margin: 15px 0 15px 0">
            <div style="height: 50px; display: flex; flex-direction: column">
              <span style="font-size: medium">select date</span>
              <ion-datetime
                style="font-size: small; color: #8d8c8c"
                displayFormat="D MMM YYYY"
                min="2020"
                max="2021"
              ></ion-datetime>
            </div>
          </ion-item>

          <ion-item button detail style="margin: 15px 0 15px 0">
            <div style="height: 50px; display: flex; flex-direction: column">
              <span style="font-size: medium">select time</span>
              <ion-datetime
                style="font-size: small; color: #8d8c8c"
                displayFormat="HH:mm"
              ></ion-datetime>
            </div>
          </ion-item>
        </ion-list>

        <ion-radio-group>
          <ion-list-header style="margin-bottom: 15px; margin-top: -20px">
            <span style="font-size: medium">payment</span>
          </ion-list-header>
          <!-- Start: div pembayaran cash -->
          <div style="display: flex; flex-direction: row; margin-bottom: 15px">
            <div style="width: 10%; margin-top: -10px">
              <ion-radio
                slot="start"
                value="Cash"
                style="height: 15px; width: 15px"
              ></ion-radio>
            </div>
            <div style="width: 25%; margin-top: -10px">
              <ion-img
                src="../../assets/icon/transaction/IconCash.png"
                style="width: 60px"
              ></ion-img>
            </div>
            <div
              style="
                width: 65%;
                display: flex;
                flex-direction: column;
                text-align: left;
                justify-content: center;
                margin-top: -10px;
              "
            >
              <div>
                <span style="font-size: small; font-weight: 600">Cash</span>
              </div>
              <div>
                <span style="font-size: x-small; color: #8d8c8c"
                  >pembayaran di toko</span
                >
              </div>
            </div>
          </div>
          <!-- End: div pembayaran cash -->

          <!-- Start: div pembayaran saldo petpy -->
          <div style="display: flex; flex-direction: row; margin-bottom: 15px">
            <div style="width: 10%">
              <ion-radio
                slot="start"
                value="SaldoPetpy"
                style="height: 15px; width: 15px"
              ></ion-radio>
            </div>
            <div style="width: 25%">
              <ion-img
                src="../../assets/icon/transaction/IconSaldoPetpy.png"
                style="width: 60px"
              ></ion-img>
            </div>
            <div
              style="
                width: 65%;
                display: flex;
                flex-direction: column;
                text-align: left;
                justify-content: center;
              "
            >
              <div>
                <span style="font-size: small; font-weight: 600"
                  >Saldo Petpy</span
                >
              </div>
              <div>
                <span style="font-size: x-small; color: #8d8c8c"
                  >you saldo Rp. 36.000</span
                >
                <br />
                <span style="font-size: x-small; color: #8d8c8c"
                  >transaction amount Rp. 80.000</span
                >
                <br />
                <span style="font-size: x-small; color: red"
                  >your balance is not enough</span
                >
              </div>
            </div>
          </div>
          <!-- End: div pembayaran saldo petpy -->

          <!-- Start: div pembayaran transfer bank -->
          <div style="display: flex; flex-direction: row; margin-bottom: 15px">
            <div style="width: 10%">
              <ion-radio
                slot="start"
                value="TransferBank"
                style="height: 15px; width: 15px"
              ></ion-radio>
            </div>
            <div style="width: 25%">
              <ion-img
                src="../../assets/icon/transaction/IconTransfer.png"
                style="width: 60px"
              ></ion-img>
            </div>
            <div
              style="
                width: 65%;
                display: flex;
                flex-direction: column;
                text-align: left;
                justify-content: center;
              "
            >
              <div>
                <span style="font-size: small; font-weight: 600"
                  >Transfer Bank</span
                >
              </div>
              <div>
                <span style="font-size: x-small; color: #8d8c8c"
                  >BCA - Virtual Account</span
                >
                <br />
                <span style="font-size: x-small; color: #8d8c8c"
                  >Petpy.id - 1110 2525 331</span
                >
                <br />
                <span style="font-size: x-small; color: #8d8c8c"
                  >Mandiri - Virtual Account</span
                >
                <br />
                <span style="font-size: x-small; color: #8d8c8c"
                  >Petpy.id - 7889 6565 123</span
                >
                <br />
              </div>
            </div>
          </div>
          <!-- End: div pembayaran transfer bank -->
        </ion-radio-group>

        <button
          (click)="onSaveTransaction()"
          routerDirection="forward"
          style="
            background-color: #1a72f8;
            width: 100%;
            height: 40px;
            color: white;
            border-radius: 10px;
            margin-top: 58px;
          "
        >
          Finish
          <ion-icon
            style="
              color: white;
              font-size: small;
              position: absolute;
              margin-left: 120px;
            "
            name="arrow-forward-outline"
          ></ion-icon>
        </button>
      </div>
    </ion-slide>
    <!-- End: Slide 3 -->
  </ion-slides>

  <!-- End: Body -->
</ion-content>
