<ion-content :fullscreen="true">
  <div
    style="display: flex; flex-direction: column; width: 100%; overflow: hidden"
  >
    <!-- Start: div header | username and lgout -->
    <div
      style="
        position: fixed;
        width: 100%;
        height: 70px;
        z-index: 1;
        background-color: #1a72f8;
      "
    >
      <ion-grid style="margin-bottom: 30px" class="ion-padding">
        <ion-row>
          <ion-col>
            <div style="float: left">
              <table style="width: 100%">
                <tr>
                  <td>
                    <ion-img
                      src="../../assets/icon/tabs-home/tabshome-iconUser.png"
                      style="width: 30px; height: 30px; margin-top: 5px"
                    ></ion-img>
                  </td>
                </tr>
              </table>

              <!-- <ion-item>
                Get LocalStorage string name : {{ userName }} || {{ apiKey }} ||
                {{ apiSc }}
              </ion-item> -->
            </div>
          </ion-col>

          <ion-col>
            <div style="float: right">
              <table style="width: 100%">
                <tr>
                  <td>
                    <p style="font-size: small">
                      <a
                        (click)="OnSignout()"
                        style="
                          color: #ffffff;
                          margin-right: 15px;
                          text-decoration: none;
                          font-family: 'Libre Baskerville', sans-serif;
                        "
                      >
                        Logout
                      </a>
                    </p>
                  </td>
                  <td>
                    <a (click)="OnSignout()">
                      <ion-img
                        src="../../assets/icon/tabs-home/tabshome-iconLogout.png"
                        style="width: 30px; height: 30px"
                      ></ion-img>
                    </a>
                  </td>
                </tr>
              </table>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <!-- Start: div header | username and lgout -->

    <!-- Start: div body | content -->
    <div
      style="
        width: 100%;
        overflow: hidden;
        margin-bottom: 20px;
        z-index: 0;
        background-color: #ffffff;
      "
    >
      <!-- Start: Profile Loged -->
      <div
        style="
          background-color: #ffffff;
          height: auto;
          width: 100%;
          display: flex;
          margin-top: 72px;
          align-items: center;
          padding: 20px 10px 20px 10px;
        "
      >
        <div
          style="
            background-color: white;
            height: 200px;
            width: 100%;
            border-radius: 15px;
            display: flex;
            flex-direction: column;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
              0 6px 20px 0 rgba(0, 0, 0, 0.19);
          "
          class="ion-padding"
        >
          <!-- Start: Foto Profile, Username, & Email -->
          <div
            style="
              background-color: white;
              display: flex;
              flex-direction: row;
              padding: 10px 0px 10px 10px;
            "
          >
            <div
              style="
                height: 50px;
                width: 50px;
                border-radius: 5px;
                background-color: #1a72f8;
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
                  0 6px 20px 0 rgba(0, 0, 0, 0.19);
              "
            >
              <ion-img
                style="border-radius: 50%"
                src="{{ storageImage }}"
              ></ion-img>
            </div>
            <div
              style="
                display: flex;
                flex-direction: column;
                justify-content: center;
                margin-left: 20px;
              "
            >
              <div>
                <span
                  style="
                    font-size: medium;
                    font-weight: 600;
                    font-family: 'Montserrat', sans-serif;
                  "
                >
                  {{ storageUsername }}
                </span>
              </div>
              <div>
                <span
                  style="
                    font-size: small;
                    color: #9c9999;
                    font-family: 'Montserrat', sans-serif;
                    font-style: italic;
                  "
                >
                  {{ storageEmail }}
                </span>
              </div>
            </div>
          </div>
          <!-- End: Foto Profile, Username, & Email -->

          <!-- Start: Saldo Balance $ Saldo Point-->
          <div
            style="
              padding: 10px 0 10px 10px;
              display: flex;
              flex-direction: row;
              width: 100%;
              justify-content: space-evenly;
            "
          >
            <div
              style="
                background-color: white;
                height: 100px;
                width: 50%;
                display: flex;
                flex-direction: column;
                justify-content: center;
              "
            >
              <div>
                <span
                  style="
                    font-size: large;
                    font-weight: 600;
                    margin-left: 5px;
                    font-family: 'font-family: ' Montserrat ', sans-serif',
                      serif;
                  "
                >
                  Rp. 25.000
                </span>
              </div>
              <div style="display: flex; flex-direction: row; margin-top: 5px">
                <div style="height: 35px; width: 35px">
                  <ion-img
                    src="../../assets/icon/tabs-home/tabshome-iconSaldo-blue.png"
                  ></ion-img>
                </div>
                <div style="display: flex; align-items: center">
                  <span
                    style="
                      font-size: 12px;
                      margin-left: 10px;
                      font-family: 'Montserrat', sans-serif;
                    "
                  >
                    your balance
                  </span>
                </div>
              </div>
            </div>

            <div
              style="
                background-color: white;
                height: 100px;
                width: 50%;
                display: flex;
                flex-direction: column;
                justify-content: center;
              "
            >
              <div>
                <span
                  style="
                    font-size: large;
                    font-weight: 600;
                    margin-left: 5px;
                    font-family: 'Montserrat', sans-serif;
                  "
                >
                  2.780
                </span>
              </div>
              <div style="display: flex; flex-direction: row; margin-top: 5px">
                <div style="height: 35px; width: 35px">
                  <ion-img
                    src="../../assets/icon/tabs-home/tabshome-iconPoint-blue.png"
                  ></ion-img>
                </div>
                <div style="display: flex; align-items: center">
                  <span
                    style="
                      font-size: 12px;
                      margin-left: 10px;
                      font-family: 'Montserrat', sans-serif;
                    "
                  >
                    your point
                  </span>
                </div>
              </div>
            </div>
          </div>
          <!-- End: Saldo Balance $ Saldo Point-->
        </div>
      </div>
      <!-- End: Profile Loged -->

      <!-- Start: div menu apps -->
      <div
        style="
          display: flex;
          flex-direction: column;
          margin-top: 15px;
          width: 100%;
          background-color: #f7f7f7;
          padding: 20px 0 20px 0;
        "
      >
        <div
          style="
            margin-top: 0px;
            margin-left: 15px;
            margin-bottom: 10px;
            font-family: 'Source Sans Pro', sans-serif;
          "
        >
          <ion-label>
            <h3 style="font-size: 20px"><b>Available Menu</b></h3>
          </ion-label>
        </div>
        <div style="display: flex; flex-direction: row; flex-wrap: wrap">
          <!-- Start: Menu Cukur Kucing -->
          <div style="width: 50%">
            <a
              (click)="dynamicMenu('cukur-kucing')"
              routerDirection="forward"
              style="text-decoration: none; margin-left: 10px"
            >
              <div style="text-align: left; width: 100%">
                <ion-card style="border-radius: 10px">
                  <img src="../../assets/icon/menu-cat.png" />
                  <ion-card-header>
                    <ion-card-title
                      style="
                        font-size: 14px;
                        font-family: 'Libre Baskerville', serif;
                      "
                      >{{ pickMenu_1 }}</ion-card-title
                    >
                  </ion-card-header>
                  <ion-card-content
                    style="
                      font-size: 11px;
                      font-family: 'Montserrat', sans-serif;
                      margin-top: -10px;
                    "
                  >
                    take this service now
                  </ion-card-content>
                </ion-card>
              </div>
            </a>
          </div>
          <!-- End: Menu Cukur Kucing -->

          <!-- Start: Menu Service Cat -->
          <div style="width: 50%">
            <a
              (click)="dynamicMenu('service-cat')"
              routerDirection="forward"
              style="text-decoration: none; margin-left: 10px"
            >
              <div style="text-align: left; width: 100%">
                <ion-card style="border-radius: 10px">
                  <img src="../../assets/icon/menu-cat.png" />
                  <ion-card-header>
                    <ion-card-title
                      style="
                        font-size: 14px;
                        font-family: 'Libre Baskerville', serif;
                      "
                      >{{ pickMenu_2 }}</ion-card-title
                    >
                  </ion-card-header>
                  <ion-card-content
                    style="
                      font-size: 11px;
                      font-family: 'Montserrat', sans-serif;
                      margin-top: -10px;
                    "
                  >
                    take this service now
                  </ion-card-content>
                </ion-card>
              </div>
            </a>
          </div>
          <!-- End: Menu Service Cat -->

          <!-- Start: Menu Service Anjing -->
          <div style="width: 50%">
            <a
              (click)="dynamicMenu('service-anjing')"
              routerDirection="forward"
              style="text-decoration: none; margin-left: 10px"
            >
              <div style="text-align: left; width: 100%">
                <ion-card style="border-radius: 10px">
                  <img src="../../assets/icon/menu-dog.png" />
                  <ion-card-header>
                    <ion-card-title
                      style="
                        font-size: 14px;
                        font-family: 'Libre Baskerville', serif;
                      "
                      >{{ pickMenu_3 }}</ion-card-title
                    >
                  </ion-card-header>
                  <ion-card-content
                    style="
                      font-size: 11px;
                      font-family: 'Montserrat', sans-serif;
                      margin-top: -10px;
                    "
                  >
                    take this service now
                  </ion-card-content>
                </ion-card>
              </div>
            </a>
          </div>
          <!-- End: Menu Service Anjing -->

          <!-- Start: Menu Service Anjing Haircut -->
          <div style="width: 50%">
            <a
              (click)="dynamicMenu('service-anjing-haircut')"
              routerDirection="forward"
              style="text-decoration: none; margin-left: 10px"
            >
              <div style="text-align: left; width: 100%">
                <ion-card style="border-radius: 10px">
                  <img src="../../assets/icon/menu-dog.png" />
                  <ion-card-header>
                    <ion-card-title
                      style="
                        font-size: 14px;
                        font-family: 'Libre Baskerville', serif;
                      "
                      >{{ pickMenu_4 }}</ion-card-title
                    >
                  </ion-card-header>
                  <ion-card-content
                    style="
                      font-size: 11px;
                      font-family: 'Montserrat', sans-serif;
                      margin-top: -10px;
                    "
                  >
                    take this service now
                  </ion-card-content>
                </ion-card>
              </div>
            </a>
          </div>
          <!-- Start: Menu Service Anjing Haircut -->
        </div>
      </div>
      <!-- End: div menu apps -->

      <!-- Start: Content Inti | Berita - 1 -->
      <div
        style="
          width: 100%;
          overflow: hidden;
          margin-top: 20px;
          overflow: hidden;
          background-color: white;
        "
        class="ion-padding"
      >
        <div style="font-family: 'Source Sans Pro', sans-serif">
          <ion-label>
            <h3 style="font-size: 20px"><b>Good Deals</b></h3>
          </ion-label>
        </div>

        <!-- Start: div mandi kutu -->
        <div style="margin-top: 30px; margin-bottom: 30px">
          <div>
            <ion-label>
              <h3
                style="font-family: 'Montserrat', sans-serif; font-size: 16px"
              >
                #Mandi Kutu
              </h3>
              <p
                style="
                  font-size: 11px;
                  margin-top: 5px;
                  color: #9c9999;
                  text-align: justify;
                  font-family: 'Montserrat', sans-serif;
                  font-size: 14px;
                  padding-right: 20px;
                "
              >
                Lorem Ipsum is simply dummy text of the printing and typesetting
                industry.
              </p>
            </ion-label>
          </div>

          <div
            style="
              box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
                0 6px 20px 0 rgba(0, 0, 0, 0.19);
              border-radius: 10px;
              height: 150px;
              width: 100%;
              margin-top: 20px;
            "
          >
            <img
              src="assets/icon/tabs-home/tabshome-bannerPromo3.png"
              alt="banner"
              style="
                object-fit: contain;
                width: 95%;
                height: 100%;
                margin-left: 5px;
              "
            />
          </div>

          <div style="margin-top: 20px; text-align: right">
            <a
              routerLink="/order-grooming"
              routerDirection="forward"
              style="
                text-decoration: none;
                margin-right: 10px;
                font-family: 'Libre Baskerville', serif;
                font-size: 14px;
                color: #0a387e;
              "
            >
              <b> grab it now </b>
            </a>
          </div>
        </div>
        <!-- End: div mandi kutu -->

        <!-- Start: div senen kamis -->
        <div style="margin-top: 30px; margin-bottom: 30px">
          <div>
            <ion-label>
              <h3
                style="font-family: 'Montserrat', sans-serif; font-size: 16px"
              >
                #Senin - Kamis
              </h3>
              <p
                style="
                  font-size: 11px;
                  margin-top: 5px;
                  color: #9c9999;
                  text-align: justify;
                  font-family: 'Montserrat', sans-serif;
                  font-size: 14px;
                  padding-right: 20px;
                "
              >
                Lorem Ipsum is simply dummy text of the printing and typesetting
                industry.
              </p>
            </ion-label>
          </div>

          <div
            style="
              box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
                0 6px 20px 0 rgba(0, 0, 0, 0.19);
              border-radius: 10px;
              height: 150px;
              width: 100%;
              margin-top: 20px;
            "
          >
            <img
              src="assets/icon/tabs-home/tabshome-bannerPromo4.png"
              alt="banner"
              style="
                object-fit: contain;
                width: 95%;
                height: 100%;
                margin-left: 5px;
              "
            />
          </div>

          <div style="margin-top: 20px; text-align: right">
            <a
              routerLink="/order-grooming"
              routerDirection="forward"
              style="
                text-decoration: none;
                margin-right: 10px;
                font-family: 'Libre Baskerville', serif;
                font-size: 14px;
                color: #0a387e;
              "
            >
              <b> grab it now </b>
            </a>
          </div>
        </div>
        <!-- End: div senen kamis -->
      </div>
      <!-- End: Content Inti | Berita - 1 -->

      <!-- Start: Content Inti | Berita - 2 -->
      <div
        style="
          width: 100%;
          overflow: hidden;
          overflow: hidden;
          background-color: #f7f7f7;
        "
        class="ion-padding"
      >
        <div style="font-family: 'Source Sans Pro', sans-serif">
          <ion-label>
            <h3 style="font-size: 20px"><b>Latest info</b></h3>
          </ion-label>
        </div>

        <div>
          <p
            style="
              font-size: 11px;
              margin-top: 20px;
              color: #9c9999;
              text-align: justify;
              font-family: 'Montserrat', sans-serif;
              font-size: 14px;
              padding-right: 20px;
            "
          >
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry's standard dummy text
            ever since the 1500s, when an unknown printer took a galley of type
            and scrambled it to make a type specimen book
          </p>
        </div>
      </div>
      <!-- End: Content Inti | Berita - 2 -->
    </div>
    <!-- End: div body |content -->

    <!-- Start: footer -->
    <div
      style="
        width: 100%;
        overflow: hidden;
        background-color: white;
        margin-top: -15px;
      "
    >
      <p
        style="
          font-family: 'Libre Baskerville', serif;
          font-size: 11px;
          color: #0a387e;
          text-align: center;
        "
      >
        <b> &copy; powered by petpy-care 2021 </b>
      </p>
    </div>
    <!-- End: footer -->
  </div>
</ion-content>
