<ion-content :fullscreen="true">
  <div
    style="display: flex; flex-direction: column; width: 100%; overflow: hidden"
  >
    <!-- Start: div header | username and lgout -->
    <div
      style="
        position: fixed;
        width: 100%;
        height: 70px;
        z-index: 1;
        background-color: #1a72f8;
      "
    >
      <ion-grid style="margin-bottom: 30px" class="ion-padding">
        <ion-row>
          <ion-col>
            <div style="float: left">
              <table style="width: 100%">
                <tr>
                  <td>
                    <ion-img
                      src="../../assets/icon/tabs-home/tabshome-iconUser.png"
                      style="width: 30px; height: 30px; margin-top: 5px"
                    ></ion-img>
                  </td>
                </tr>
              </table>

              <!-- <ion-item>
                Get LocalStorage string name : {{ userName }} || {{ apiKey }} ||
                {{ apiSc }}
              </ion-item> -->
            </div>
          </ion-col>

          <ion-col>
            <div style="float: right">
              <table style="width: 100%">
                <tr>
                  <td>
                    <p style="font-size: small">
                      <a
                        (click)="OnSignout()"
                        style="
                          color: #ffffff;
                          margin-right: 15px;
                          text-decoration: none;
                        "
                      >
                        Logout
                      </a>
                    </p>
                  </td>
                  <td>
                    <a (click)="OnSignout()">
                      <ion-img
                        src="../../assets/icon/tabs-home/tabshome-iconLogout.png"
                        style="width: 30px; height: 30px"
                      ></ion-img>
                    </a>
                  </td>
                </tr>
              </table>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <!-- Start: div header | username and lgout -->

    <!-- Start: div body | content -->
    <div
      style="
        width: 100%;
        overflow: hidden;
        margin-bottom: 20px;
        z-index: 0;
        background-color: rgb(250, 250, 250);
      "
    >
      <!-- Start: Profile Loged -->
      <div
        style="
          background-color: #ffffff;
          height: auto;
          width: 100%;
          display: flex;
          margin-top: 72px;
          align-items: center;
          padding: 20px 10px 20px 10px;
        "
      >
        <div
          style="
            background-color: white;
            height: 200px;
            width: 100%;
            border-radius: 15px;
            display: flex;
            flex-direction: column;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
              0 6px 20px 0 rgba(0, 0, 0, 0.19);
          "
          class="ion-padding"
        >
          <!-- Start: Foto Profile, Username, & Email -->
          <div
            style="
              background-color: white;
              display: flex;
              flex-direction: row;
              padding: 10px 0px 10px 10px;
            "
          >
            <div
              style="
                height: 50px;
                width: 50px;
                border-radius: 5px;
                background-color: #1a72f8;
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
                  0 6px 20px 0 rgba(0, 0, 0, 0.19);
              "
            >
              <ion-img
                style="border-radius: 50%"
                src="{{ storageImage }}"
              ></ion-img>
            </div>
            <div
              style="
                display: flex;
                flex-direction: column;
                justify-content: center;
                margin-left: 20px;
              "
            >
              <div>
                <span style="font-size: medium; font-weight: 600">
                  {{ storageUsername }}
                </span>
              </div>
              <div>
                <span style="font-size: small; color: darkgray">
                  {{ storageEmail }}
                </span>
              </div>
            </div>
          </div>
          <!-- End: Foto Profile, Username, & Email -->

          <!-- Start: Saldo Balance $ Saldo Point-->
          <div
            style="
              padding: 10px 0 10px 10px;
              display: flex;
              flex-direction: row;
              width: 100%;
              justify-content: space-evenly;
            "
          >
            <div
              style="
                background-color: white;
                height: 100px;
                width: 50%;
                display: flex;
                flex-direction: column;
                justify-content: center;
              "
            >
              <div>
                <span
                  style="font-size: large; font-weight: 600; margin-left: 5px"
                >
                  Rp. 25.000
                </span>
              </div>
              <div style="display: flex; flex-direction: row; margin-top: 5px">
                <div style="height: 35px; width: 35px">
                  <ion-img
                    src="../../assets/icon/tabs-home/tabshome-iconSaldo-blue.png"
                  ></ion-img>
                </div>
                <div style="display: flex; align-items: center">
                  <span style="font-size: small; margin-left: 10px">
                    your balance
                  </span>
                </div>
              </div>
            </div>

            <div
              style="
                background-color: white;
                height: 100px;
                width: 50%;
                display: flex;
                flex-direction: column;
                justify-content: center;
              "
            >
              <div>
                <span
                  style="font-size: large; font-weight: 600; margin-left: 5px"
                >
                  2.780
                </span>
              </div>
              <div style="display: flex; flex-direction: row; margin-top: 5px">
                <div style="height: 35px; width: 35px">
                  <ion-img
                    src="../../assets/icon/tabs-home/tabshome-iconPoint-blue.png"
                  ></ion-img>
                </div>
                <div style="display: flex; align-items: center">
                  <span style="font-size: small; margin-left: 10px">
                    your point
                  </span>
                </div>
              </div>
            </div>
          </div>
          <!-- End: Saldo Balance $ Saldo Point-->
        </div>
      </div>
      <!-- End: Profile Loged -->

      <!-- Start: div menu apps -->
      <div
        style="
          display: flex;
          flex-direction: column;
          width: 100%;
          background-color: rgb(250, 250, 250);
          padding: 20px 0 20px 0;
        "
      >
        <div style="margin-top: 0px; margin-left: 15px; margin-bottom: 10px">
          <ion-label>
            <h3>Available Menu</h3>
          </ion-label>
        </div>
        <div>
          <ion-slides style="padding-bottom: 10px">
            <!-- Start: Service Cat -->
            <div
              style="
                height: 150px;
                width: 120px;
                background-color: white;
                display: flex;
                flex-direction: column;
                border-radius: 10px;
                margin-left: 10px;
                margin-right: 5px;
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
                  0 6px 5px 0 rgba(0, 0, 0, 0.19);
                padding-left: 10px;
              "
            >
              <div
                style="
                  background-color: white;
                  height: 40px;
                  width: 40px;
                  border-radius: 50%;
                  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
                    0 6px 20px 0 rgba(0, 0, 0, 0.19);
                  margin-top: 20px;
                "
              >
                <ion-img
                  src="../../assets/icon/dashboard-booking-gps-icon.png"
                ></ion-img>
              </div>
              <div>
                <h3 style="font-size: small; font-weight: 600">
                  {{ listProducts_group[2] }}
                </h3>
              </div>
              <div style="margin-top: -20px">
                <h3 style="font-size: x-small">take this service now</h3>
              </div>
            </div>
            <!-- End: Service Cat -->

            <!-- Start: Service Dog -->
            <div
              style="
                height: 150px;
                width: 120px;
                background-color: white;
                display: flex;
                flex-direction: column;
                border-radius: 10px;
                margin-left: 10px;
                margin-right: 5px;
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
                  0 6px 5px 0 rgba(0, 0, 0, 0.19);
                padding-left: 10px;
              "
            >
              <div
                style="
                  background-color: white;
                  height: 40px;
                  width: 40px;
                  border-radius: 50%;
                  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
                    0 6px 20px 0 rgba(0, 0, 0, 0.19);
                  margin-top: 20px;
                "
              >
                <ion-img
                  src="../../assets/icon/dashboard-booking-gps-icon.png"
                ></ion-img>
              </div>
              <div>
                <h3 style="font-size: small; font-weight: 600">
                  {{ listProducts_group[1] }}
                </h3>
              </div>
              <div style="margin-top: -20px">
                <h3 style="font-size: x-small">take this service now</h3>
              </div>
            </div>
            <!-- End: Service Dog -->

            <!-- Start: Service Dog Haircut -->
            <div
              style="
                height: 150px;
                width: 120px;
                background-color: white;
                display: flex;
                flex-direction: column;
                border-radius: 10px;
                margin-left: 10px;
                margin-right: 5px;
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
                  0 6px 5px 0 rgba(0, 0, 0, 0.19);
                padding-left: 10px;
              "
            >
              <div
                style="
                  background-color: white;
                  height: 40px;
                  width: 40px;
                  border-radius: 50%;
                  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
                    0 6px 20px 0 rgba(0, 0, 0, 0.19);
                  margin-top: 20px;
                "
              >
                <ion-img
                  src="../../assets/icon/dashboard-booking-gps-icon.png"
                ></ion-img>
              </div>
              <div>
                <h3 style="font-size: small; font-weight: 600">
                  {{ listProducts_group[0] }}
                </h3>
              </div>
              <div style="margin-top: -20px">
                <h3 style="font-size: x-small">take this service now</h3>
              </div>
            </div>
            <!-- End: Service Dog Haircut -->
          </ion-slides>
        </div>
      </div>
      <!-- End: div menu apps -->

      <!-- Start: Content Inti | Berita - 1 -->
      <div
        style="
          width: 100%;
          overflow: hidden;
          margin-top: 20px;
          overflow: hidden;
          background-color: white;
        "
        class="ion-padding"
      >
        <!-- Start: div mandi kutu -->
        <div>
          <div style="margin-bottom: 20px">
            <ion-label>
              <h3>#Mandi Kutu</h3>
              <p style="font-size: small; color: gray; text-align: justify">
                Lorem Ipsum is simply dummy text of the printing and typesetting
                industry.
              </p>
            </ion-label>
          </div>

          <div
            style="
              box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
                0 6px 20px 0 rgba(0, 0, 0, 0.19);
              border-radius: 10px;
              height: 150px;
              width: 100%;
            "
          >
            <img
              src="assets/icon/tabs-home/tabshome-bannerPromo3.png"
              alt="banner"
              style="
                object-fit: contain;
                width: 95%;
                height: 100%;
                margin-left: 5px;
              "
            />
          </div>

          <p
            style="
              font-size: smaller;
              color: gray;
              text-align: justify;
              float: right;
            "
          >
            <a
              routerLink="/order-grooming"
              routerDirection="forward"
              style="text-decoration: none"
            >
              Ambil Promonya
            </a>
          </p>
        </div>
        <!-- End: div mandi kutu -->

        <!-- Start: div senen kamis -->
        <div style="margin-top: 50px">
          <div style="margin-bottom: 20px">
            <ion-label>
              <h3>#Senen - Kamis</h3>
              <p style="font-size: small; color: gray; text-align: justify">
                Lorem Ipsum is simply dummy text of the printing and typesetting
                industry.
              </p>
            </ion-label>
          </div>

          <div
            style="
              box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
                0 6px 20px 0 rgba(0, 0, 0, 0.19);
              border-radius: 10px;
              height: 150px;
              width: 100%;
            "
          >
            <img
              src="assets/icon/tabs-home/tabshome-bannerPromo4.png"
              alt="banner"
              style="
                object-fit: contain;
                width: 95%;
                height: 100%;
                margin-left: 5px;
              "
            />
          </div>

          <p
            style="
              font-size: smaller;
              color: gray;
              text-align: justify;
              float: right;
            "
          >
            <a
              routerLink="/order-grooming"
              routerDirection="forward"
              style="text-decoration: none"
            >
              Ambil Promonya
            </a>
          </p>
        </div>
        <!-- End: div senen kamis -->
      </div>
      <!-- End: Content Inti | Berita - 1 -->

      <!-- Start: Content Inti | Berita - 2 -->
      <div
        style="
          width: 100%;
          height: 200px;
          margin-top: 20px;
          background-color: rgb(250, 250, 250);
          overflow: hidden;
        "
      >
        <div class="ion-padding">
          <h3>Info Terkini</h3>
          <p style="font-size: medium; color: gray; text-align: justify">
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry's standard dummy text
            ever since the 1500s, when an unknown printer took a galley of type
            and scrambled it to make a type specimen book
          </p>
        </div>
      </div>
      <!-- End: Content Inti | Berita - 2 -->
    </div>
    <!-- End: div body |content -->

    <!-- Start: footer -->
    <div
      style="
        width: 100%;
        overflow: hidden;
        background-color: white;
        margin-top: -15px;
      "
    >
      <p style="font-size: x-small; color: black; text-align: center">
        &copy; powered by petpy-care 2021
      </p>
    </div>
    <!-- End: footer -->
  </div>
</ion-content>
